In [ ]:
import pandas as pd
import os
train = pd.read_csv(os.getcwd() + "/sales_train.csv")
test = pd.read_csv(os.getcwd() + "/test.csv")

In [482]:
train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [483]:
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [484]:
train['Date'] = pd.to_datetime(train['date']).dt.date

In [485]:
train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,Date
0,02.01.2013,0,59,22154,999.00,1.0,2013-02-01
1,03.01.2013,0,25,2552,899.00,1.0,2013-03-01
2,05.01.2013,0,25,2552,899.00,-1.0,2013-05-01
3,06.01.2013,0,25,2554,1709.05,1.0,2013-06-01
4,15.01.2013,0,25,2555,1099.00,1.0,2013-01-15
...,...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0,2015-10-10
2935845,09.10.2015,33,25,7460,299.00,1.0,2015-09-10
2935846,14.10.2015,33,25,7459,349.00,1.0,2015-10-14
2935847,22.10.2015,33,25,7440,299.00,1.0,2015-10-22
2935848,03.10.2015,33,25,7460,299.00,1.0,2015-03-10

In [510]:
train['Year_Month'] = pd.to_datetime(train['date']).dt.to_period('M')

In [ ]:
train['Year'] = pd.to_datetime(train['date]']).dt.year

In [ ]:
train['Month'] = pd.to_datetime(train['date]']).dt.month

In [ ]:
train['Day'] = pd.to_datetime(train['date]']).dt.day

In [1239]:
train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,Date,Year,Month,Day,Year_Month
0,02.01.2013,0,59,22154,999.00,1.0,2013-02-01,2013,2,1,2013-02
1,03.01.2013,0,25,2552,899.00,1.0,2013-03-01,2013,3,1,2013-03
2,05.01.2013,0,25,2552,899.00,-1.0,2013-05-01,2013,5,1,2013-05
3,06.01.2013,0,25,2554,1709.05,1.0,2013-06-01,2013,6,1,2013-06
4,15.01.2013,0,25,2555,1099.00,1.0,2013-01-15,2013,1,15,2013-01
...,...,...,...,...,...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0,2015-10-10,2015,10,10,2015-10
2935845,09.10.2015,33,25,7460,299.00,1.0,2015-09-10,2015,9,10,2015-09
2935846,14.10.2015,33,25,7459,349.00,1.0,2015-10-14,2015,10,14,2015-10
2935847,22.10.2015,33,25,7440,299.00,1.0,2015-10-22,2015,10,22,2015-10
2935848,03.10.2015,33,25,7460,299.00,1.0,2015-03-10,2015,3,10,2015-03

In [762]:
train2 = train.groupby(['shop_id','Year','Month'])['item_cnt_day'].sum().reset_index()

In [763]:
train2

      shop_id  Year  Month  item_cnt_day
0           0  2013      1        3626.0
1           0  2013      2        3957.0
2           0  2013      3         403.0
3           0  2013      4         473.0
4           0  2013      5         465.0
...       ...   ...    ...           ...
1842       59  2015      8        1199.0
1843       59  2015      9         758.0
1844       59  2015     10         799.0
1845       59  2015     11         311.0
1846       59  2015     12         307.0

[1847 rows x 4 columns]

In [764]:
train2 = train2.drop([1845,1846])

In [766]:
import numpy as np

In [767]:
train2=train2.rename(columns={"item_cnt_day":"item_cnt_month"})

In [792]:
train2

      shop_id  Year  Month  item_cnt_month
0           0  2013      1          3626.0
1           0  2013      2          3957.0
2           0  2013      3           403.0
3           0  2013      4           473.0
4           0  2013      5           465.0
...       ...   ...    ...             ...
1840       59  2015      6           905.0
1841       59  2015      7           976.0
1842       59  2015      8          1199.0
1843       59  2015      9           758.0
1844       59  2015     10           799.0

[1845 rows x 4 columns]

In [1112]:
shop2 = train2[train2['shop_id'] == 2].drop([58,59])

In [1113]:
shop2

    shop_id  Year  Month  item_cnt_month
24        2  2013      1           748.0
25        2  2013      2           722.0
26        2  2013      3           821.0
27        2  2013      4           678.0
28        2  2013      5           659.0
29        2  2013      6           872.0
30        2  2013      7           805.0
31        2  2013      8           847.0
32        2  2013      9           886.0
33        2  2013     10           785.0
34        2  2013     11           817.0
35        2  2013     12          1321.0
36        2  2014      1           715.0
37        2  2014      2           881.0
38        2  2014      3           984.0
39        2  2014      4           855.0
40        2  2014      5          1107.0
41        2  2014      6           891.0
42        2  2014      7           848.0
43        2  2014      8          1065.0
44        2  2014      9           939.0
45        2  2014     10           859.0
46        2  2014     11          1184.0
47        2  2014     12          1893.0
48        2  2015      1           744.0
49        2  2015      2           922.0
50        2  2015      3           774.0
51        2  2015      4           861.0
52        2  2015      5           866.0
53        2  2015      6           733.0
54        2  2015      7           732.0
55        2  2015      8           936.0
56        2  2015      9           663.0
57        2  2015     10           736.0

In [1114]:
itemcnt2 = pd.DataFrame(shop2.item_cnt_month)

In [1115]:
itemcnt2

    item_cnt_month
24           748.0
25           722.0
26           821.0
27           678.0
28           659.0
29           872.0
30           805.0
31           847.0
32           886.0
33           785.0
34           817.0
35          1321.0
36           715.0
37           881.0
38           984.0
39           855.0
40          1107.0
41           891.0
42           848.0
43          1065.0
44           939.0
45           859.0
46          1184.0
47          1893.0
48           744.0
49           922.0
50           774.0
51           861.0
52           866.0
53           733.0
54           732.0
55           936.0
56           663.0
57           736.0

In [1116]:
dataframe2 = pd.concat([itemcnt2.shift(1),itemcnt2.shift(2),itemcnt2.shift(3),itemcnt2.shift(4),itemcnt2.shift(5),itemcnt2.shift(6),itemcnt2.shift(7),itemcnt2.shift(8),itemcnt2.shift(9),itemcnt2.shift(10),itemcnt2.shift(11),itemcnt2.shift(12),itemcnt2], axis=1)

In [1117]:
dataframe2

,item_cnt_month,item_cnt_month,item_cnt_month,item_cnt_month,item_cnt_month,item_cnt_month,item_cnt_month,item_cnt_month,item_cnt_month,item_cnt_month,item_cnt_month,item_cnt_month,item_cnt_month
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,748.0
25,748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,722.0
26,722.0,748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,821.0
27,821.0,722.0,748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,678.0
28,678.0,821.0,722.0,748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,659.0
29,659.0,678.0,821.0,722.0,748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,872.0
30,872.0,659.0,678.0,821.0,722.0,748.0,NaN,NaN,NaN,NaN,NaN,NaN,805.0
31,805.0,872.0,659.0,678.0,821.0,722.0,748.0,NaN,NaN,NaN,NaN,NaN,847.0
32,847.0,805.0,872.0,659.0,678.0,821.0,722.0,748.0,NaN,NaN,NaN,NaN,886.0
33,886.0,847.0,805.0,872.0,659.0,678.0,821.0,722.0,748.0,NaN,NaN,NaN,785.0
34,785.0,886.0,847.0,805.0,872.0,659.0,678.0,821.0,722.0,748.0,NaN,NaN,817.0
35,817.0,785.0,886.0,847.0,805.0,872.0,659.0,678.0,821.0,722.0,748.0,NaN,1321.0
36,1321.0,817.0,785.0,886.0,847.0,805.0,872.0,659.0,678.0,821.0,722.0,748.0,715.0
37,715.0,1321.0,817.0,785.0,886.0,847.0,805.0,872.0,659.0,678.0,821.0,722.0,881.0
38,881.0,715.0,1321.0,817.0,785.0,886.0,847.0,805.0,872.0,659.0,678.0,821.0,984.0
39,984.0,881.0,715.0,1321.0,817.0,785.0,886.0,847.0,805.0,872.0,659.0,678.0,855.0
40,855.0,984.0,881.0,715.0,1321.0,817.0,785.0,886.0,847.0,805.0,872.0,659.0,1107.0
41,1107.0,855.0,984.0,881.0,715.0,1321.0,817.0,785.0,886.0,847.0,805.0,872.0,891.0
42,891.0,1107.0,855.0,984.0,881.0,715.0,1321.0,817.0,785.0,886.0,847.0,805.0,848.0
43,848.0,891.0,1107.0,855.0,984.0,881.0,715.0,1321.0,817.0,785.0,886.0,847.0,1065.0
44,1065.0,848.0,891.0,1107.0,855.0,984.0,881.0,715.0,1321.0,817.0,785.0,886.0,939.0
45,939.0,1065.0,848.0,891.0,1107.0,855.0,984.0,881.0,715.0,1321.0,817.0,785.0,859.0
46,859.0,939.0,1065.0,848.0,891.0,1107.0,855.0,984.0,881.0,715.0,1321.0,817.0,1184.0
47,1184.0,859.0,939.0,1065.0,848.0,891.0,1107.0,855.0,984.0,881.0,715.0,1321.0,1893.0
48,1893.0,1184.0,859.0,939.0,1065.0,848.0,891.0,1107.0,855.0,984.0,881.0,715.0,744.0
49,744.0,1893.0,1184.0,859.0,939.0,1065.0,848.0,891.0,1107.0,855.0,984.0,881.0,922.0
50,922.0,744.0,1893.0,1184.0,859.0,939.0,1065.0,848.0,891.0,1107.0,855.0,984.0,774.0
51,774.0,922.0,744.0,1893.0,1184.0,859.0,939.0,1065.0,848.0,891.0,1107.0,855.0,861.0
52,861.0,774.0,922.0,744.0,1893.0,1184.0,859.0,939.0,1065.0,848.0,891.0,1107.0,866.0
53,866.0,861.0,774.0,922.0,744.0,1893.0,1184.0,859.0,939.0,1065.0,848.0,891.0,733.0
54,733.0,866.0,861.0,774.0,922.0,744.0,1893.0,1184.0,859.0,939.0,1065.0,848.0,732.0
55,732.0,733.0,866.0,861.0,774.0,922.0,744.0,1893.0,1184.0,859.0,939.0,1065.0,936.0
56,936.0,732.0,733.0,866.0,861.0,774.0,922.0,744.0,1893.0,1184.0,859.0,939.0,663.0
57,663.0,936.0,732.0,733.0,866.0,861.0,774.0,922.0,744.0,1893.0,1184.0,859.0,736.0

In [1118]:
dataframe2.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1119]:
print(dataframe2.head(5))

      t-1    t-2    t-3    t-4  t-5  t-6  t-7  t-8  t-9  t-10  t-11  t-12  \
24    NaN    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN
25  748.0    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN
26  722.0  748.0    NaN    NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN
27  821.0  722.0  748.0    NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN
28  678.0  821.0  722.0  748.0  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN

      t+1
24  748.0
25  722.0
26  821.0
27  678.0
28  659.0

In [1120]:
dataframe2

,t-1,t-2,t-3,t-4,t-5,t-6,t-7,t-8,t-9,t-10,t-11,t-12,t+1
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,748.0
25,748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,722.0
26,722.0,748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,821.0
27,821.0,722.0,748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,678.0
28,678.0,821.0,722.0,748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,659.0
29,659.0,678.0,821.0,722.0,748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,872.0
30,872.0,659.0,678.0,821.0,722.0,748.0,NaN,NaN,NaN,NaN,NaN,NaN,805.0
31,805.0,872.0,659.0,678.0,821.0,722.0,748.0,NaN,NaN,NaN,NaN,NaN,847.0
32,847.0,805.0,872.0,659.0,678.0,821.0,722.0,748.0,NaN,NaN,NaN,NaN,886.0
33,886.0,847.0,805.0,872.0,659.0,678.0,821.0,722.0,748.0,NaN,NaN,NaN,785.0
34,785.0,886.0,847.0,805.0,872.0,659.0,678.0,821.0,722.0,748.0,NaN,NaN,817.0
35,817.0,785.0,886.0,847.0,805.0,872.0,659.0,678.0,821.0,722.0,748.0,NaN,1321.0
36,1321.0,817.0,785.0,886.0,847.0,805.0,872.0,659.0,678.0,821.0,722.0,748.0,715.0
37,715.0,1321.0,817.0,785.0,886.0,847.0,805.0,872.0,659.0,678.0,821.0,722.0,881.0
38,881.0,715.0,1321.0,817.0,785.0,886.0,847.0,805.0,872.0,659.0,678.0,821.0,984.0
39,984.0,881.0,715.0,1321.0,817.0,785.0,886.0,847.0,805.0,872.0,659.0,678.0,855.0
40,855.0,984.0,881.0,715.0,1321.0,817.0,785.0,886.0,847.0,805.0,872.0,659.0,1107.0
41,1107.0,855.0,984.0,881.0,715.0,1321.0,817.0,785.0,886.0,847.0,805.0,872.0,891.0
42,891.0,1107.0,855.0,984.0,881.0,715.0,1321.0,817.0,785.0,886.0,847.0,805.0,848.0
43,848.0,891.0,1107.0,855.0,984.0,881.0,715.0,1321.0,817.0,785.0,886.0,847.0,1065.0
44,1065.0,848.0,891.0,1107.0,855.0,984.0,881.0,715.0,1321.0,817.0,785.0,886.0,939.0
45,939.0,1065.0,848.0,891.0,1107.0,855.0,984.0,881.0,715.0,1321.0,817.0,785.0,859.0
46,859.0,939.0,1065.0,848.0,891.0,1107.0,855.0,984.0,881.0,715.0,1321.0,817.0,1184.0
47,1184.0,859.0,939.0,1065.0,848.0,891.0,1107.0,855.0,984.0,881.0,715.0,1321.0,1893.0
48,1893.0,1184.0,859.0,939.0,1065.0,848.0,891.0,1107.0,855.0,984.0,881.0,715.0,744.0
49,744.0,1893.0,1184.0,859.0,939.0,1065.0,848.0,891.0,1107.0,855.0,984.0,881.0,922.0
50,922.0,744.0,1893.0,1184.0,859.0,939.0,1065.0,848.0,891.0,1107.0,855.0,984.0,774.0
51,774.0,922.0,744.0,1893.0,1184.0,859.0,939.0,1065.0,848.0,891.0,1107.0,855.0,861.0
52,861.0,774.0,922.0,744.0,1893.0,1184.0,859.0,939.0,1065.0,848.0,891.0,1107.0,866.0
53,866.0,861.0,774.0,922.0,744.0,1893.0,1184.0,859.0,939.0,1065.0,848.0,891.0,733.0
54,733.0,866.0,861.0,774.0,922.0,744.0,1893.0,1184.0,859.0,939.0,1065.0,848.0,732.0
55,732.0,733.0,866.0,861.0,774.0,922.0,744.0,1893.0,1184.0,859.0,939.0,1065.0,936.0
56,936.0,732.0,733.0,866.0,861.0,774.0,922.0,744.0,1893.0,1184.0,859.0,939.0,663.0
57,663.0,936.0,732.0,733.0,866.0,861.0,774.0,922.0,744.0,1893.0,1184.0,859.0,736.0

In [1121]:
x2 = dataframe2[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([24,25,26,27,28,29,30,31,32,33,34,35]).to_numpy()
y2 = dataframe2['t+1'].drop([24,25,26,27,28,29,30,31,32,33,34,35]).to_numpy()

In [1122]:
x2

array([[1321.,  817.,  785.,  886.,  847.,  805.,  872.,  659.,  678.,
         821.,  722.,  748.],
       [ 715., 1321.,  817.,  785.,  886.,  847.,  805.,  872.,  659.,
         678.,  821.,  722.],
       [ 881.,  715., 1321.,  817.,  785.,  886.,  847.,  805.,  872.,
         659.,  678.,  821.],
       [ 984.,  881.,  715., 1321.,  817.,  785.,  886.,  847.,  805.,
         872.,  659.,  678.],
       [ 855.,  984.,  881.,  715., 1321.,  817.,  785.,  886.,  847.,
         805.,  872.,  659.],
       [1107.,  855.,  984.,  881.,  715., 1321.,  817.,  785.,  886.,
         847.,  805.,  872.],
       [ 891., 1107.,  855.,  984.,  881.,  715., 1321.,  817.,  785.,
         886.,  847.,  805.],
       [ 848.,  891., 1107.,  855.,  984.,  881.,  715., 1321.,  817.,
         785.,  886.,  847.],
       [1065.,  848.,  891., 1107.,  855.,  984.,  881.,  715., 1321.,
         817.,  785.,  886.],
       [ 939., 1065.,  848.,  891., 1107.,  855.,  984.,  881.,  715.,
        1321.,  817.,  785.],
       [ 859.,  939., 1065.,  848.,  891., 1107.,  855.,  984.,  881.,
         715., 1321.,  817.],
       [1184.,  859.,  939., 1065.,  848.,  891., 1107.,  855.,  984.,
         881.,  715., 1321.],
       [1893., 1184.,  859.,  939., 1065.,  848.,  891., 1107.,  855.,
         984.,  881.,  715.],
       [ 744., 1893., 1184.,  859.,  939., 1065.,  848.,  891., 1107.,
         855.,  984.,  881.],
       [ 922.,  744., 1893., 1184.,  859.,  939., 1065.,  848.,  891.,
        1107.,  855.,  984.],
       [ 774.,  922.,  744., 1893., 1184.,  859.,  939., 1065.,  848.,
         891., 1107.,  855.],
       [ 861.,  774.,  922.,  744., 1893., 1184.,  859.,  939., 1065.,
         848.,  891., 1107.],
       [ 866.,  861.,  774.,  922.,  744., 1893., 1184.,  859.,  939.,
        1065.,  848.,  891.],
       [ 733.,  866.,  861.,  774.,  922.,  744., 1893., 1184.,  859.,
         939., 1065.,  848.],
       [ 732.,  733.,  866.,  861.,  774.,  922.,  744., 1893., 1184.,
         859.,  939., 1065.],
       [ 936.,  732.,  733.,  866.,  861.,  774.,  922.,  744., 1893.,
        1184.,  859.,  939.],
       [ 663.,  936.,  732.,  733.,  866.,  861.,  774.,  922.,  744.,
        1893., 1184.,  859.]])

In [1123]:
y2

array([ 715.,  881.,  984.,  855., 1107.,  891.,  848., 1065.,  939.,
        859., 1184., 1893.,  744.,  922.,  774.,  861.,  866.,  733.,
        732.,  936.,  663.,  736.])

In [1124]:
from sklearn.model_selection import train_test_split

In [625]:
#xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.2, random_state=69)

In [1125]:
xtrain2 = x2[0 : (len(x)-1)]

In [1126]:
xtrain2

array([[1321.,  817.,  785.,  886.,  847.,  805.,  872.,  659.,  678.,
         821.,  722.,  748.],
       [ 715., 1321.,  817.,  785.,  886.,  847.,  805.,  872.,  659.,
         678.,  821.,  722.],
       [ 881.,  715., 1321.,  817.,  785.,  886.,  847.,  805.,  872.,
         659.,  678.,  821.],
       [ 984.,  881.,  715., 1321.,  817.,  785.,  886.,  847.,  805.,
         872.,  659.,  678.],
       [ 855.,  984.,  881.,  715., 1321.,  817.,  785.,  886.,  847.,
         805.,  872.,  659.],
       [1107.,  855.,  984.,  881.,  715., 1321.,  817.,  785.,  886.,
         847.,  805.,  872.],
       [ 891., 1107.,  855.,  984.,  881.,  715., 1321.,  817.,  785.,
         886.,  847.,  805.],
       [ 848.,  891., 1107.,  855.,  984.,  881.,  715., 1321.,  817.,
         785.,  886.,  847.],
       [1065.,  848.,  891., 1107.,  855.,  984.,  881.,  715., 1321.,
         817.,  785.,  886.],
       [ 939., 1065.,  848.,  891., 1107.,  855.,  984.,  881.,  715.,
        1321.,  817.,  785.],
       [ 859.,  939., 1065.,  848.,  891., 1107.,  855.,  984.,  881.,
         715., 1321.,  817.],
       [1184.,  859.,  939., 1065.,  848.,  891., 1107.,  855.,  984.,
         881.,  715., 1321.],
       [1893., 1184.,  859.,  939., 1065.,  848.,  891., 1107.,  855.,
         984.,  881.,  715.],
       [ 744., 1893., 1184.,  859.,  939., 1065.,  848.,  891., 1107.,
         855.,  984.,  881.],
       [ 922.,  744., 1893., 1184.,  859.,  939., 1065.,  848.,  891.,
        1107.,  855.,  984.],
       [ 774.,  922.,  744., 1893., 1184.,  859.,  939., 1065.,  848.,
         891., 1107.,  855.],
       [ 861.,  774.,  922.,  744., 1893., 1184.,  859.,  939., 1065.,
         848.,  891., 1107.],
       [ 866.,  861.,  774.,  922.,  744., 1893., 1184.,  859.,  939.,
        1065.,  848.,  891.],
       [ 733.,  866.,  861.,  774.,  922.,  744., 1893., 1184.,  859.,
         939., 1065.,  848.],
       [ 732.,  733.,  866.,  861.,  774.,  922.,  744., 1893., 1184.,
         859.,  939., 1065.],
       [ 936.,  732.,  733.,  866.,  861.,  774.,  922.,  744., 1893.,
        1184.,  859.,  939.]])

In [1127]:
ytrain2 = y2[0 : (len(y)-1)]

In [1128]:
ytrain2

array([ 715.,  881.,  984.,  855., 1107.,  891.,  848., 1065.,  939.,
        859., 1184., 1893.,  744.,  922.,  774.,  861.,  866.,  733.,
        732.,  936.,  663.])

In [1129]:
xtest2 = x2[-1].reshape(1, -1)

In [1130]:
xtest2

array([[ 663.,  936.,  732.,  733.,  866.,  861.,  774.,  922.,  744.,
        1893., 1184.,  859.]])

In [1131]:
ytest2 = y2[-1].reshape(-1,1)

In [1132]:
ytest2

array([[736.]])

In [1133]:
from sklearn.ensemble import RandomForestRegressor

In [1134]:
rf5 = RandomForestRegressor(n_estimators=5)

In [1135]:
rf50 = RandomForestRegressor(n_estimators=50)

In [1136]:
rf100 = RandomForestRegressor(n_estimators=100)

In [1137]:
rf500 = RandomForestRegressor(n_estimators=500)

In [1138]:
rf5.fit(xtrain2,ytrain2)

RandomForestRegressor(n_estimators=5)

In [1139]:
rf50.fit(xtrain2,ytrain2)

RandomForestRegressor(n_estimators=50)

In [1140]:
rf100.fit(xtrain2,ytrain2)

RandomForestRegressor()

In [1141]:
rf500.fit(xtrain2,ytrain2)

RandomForestRegressor(n_estimators=500)

In [1142]:
pred5_2 = rf5.predict(xtest2)
pred50_2 = rf50.predict(xtest2)
pred100_2 = rf100.predict(xtest2)
pred500_2 = rf500.predict(xtest2)

In [1143]:
pred5_2

array([891.])

In [1144]:
pred50_2

array([867.62])

In [1145]:
pred100_2

array([860.48])

In [1146]:
pred500_2

array([855.95])

In [1147]:
from sklearn import metrics

In [1148]:
def mean_absolute_percentage_error(y_true, y_pred): 
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [1181]:
mae5_2 = metrics.mean_absolute_error(ytest2, pred5_2)
rmse5_2 = np.sqrt(metrics.mean_squared_error(ytest2, pred5_2)) 
mape5_2 = mean_absolute_percentage_error(ytest2, pred5_2)

In [1182]:
mae5_2

155.0

In [1183]:
rmse5_2

155.0

In [1184]:
mape5_2

21.059782608695652

In [1153]:
mae50_2 = metrics.mean_absolute_error(ytest2, pred50_2)
rmse50_2 = np.sqrt(metrics.mean_squared_error(ytest2, pred50_2)) 
mape50_2= mean_absolute_percentage_error(ytest2, pred50_2)

In [1154]:
mae50_2

131.62

In [1155]:
rmse50_2

131.62

In [1156]:
mape50_2

17.883152173913043

In [1157]:
mae100_2 = metrics.mean_absolute_error(ytest2, pred100_2)
rmse100_2 = np.sqrt(metrics.mean_squared_error(ytest2, pred100_2)) 
mape100_2 = mean_absolute_percentage_error(ytest2, pred100_2)

In [1158]:
mae100_2

124.48000000000002

In [1159]:
rmse100_2

124.48000000000002

In [1160]:
mape100_2

16.91304347826087

In [1161]:
mae500_2 = metrics.mean_absolute_error(ytest2, pred500_2)
rmse500_2 = np.sqrt(metrics.mean_squared_error(ytest2, pred500_2)) 
mape500_2 = mean_absolute_percentage_error(ytest2, pred500_2)

In [1162]:
mae500_2

119.95000000000005

In [1163]:
rmse500_2

119.95000000000005

In [1164]:
mape500_2

16.297554347826093

In [1165]:
accuracy2 = 100 - np.mean(mape100_2)

In [1166]:
accuracy2

83.08695652173913

In [1175]:
print('Prediction for November Sales for Shop 2:', pred100_2)
print('Mape:', round(mape100_2,2),'%.')
print('Accuracy:', round(accuracy2, 2),'%.')

Prediction for November Sales for Shop 2: [860.48]
Mape: 16.91 %.
Accuracy: 83.09 %.

In [1188]:
#Shop 3
shop3 = train2[train2['shop_id'] == 3].drop([94,95])
itemcnt3 = pd.DataFrame(shop3.item_cnt_month)
dataframe3 = pd.concat([itemcnt3.shift(1),itemcnt3.shift(2),itemcnt3.shift(3),itemcnt3.shift(4),itemcnt3.shift(5),itemcnt3.shift(6),itemcnt3.shift(7),itemcnt3.shift(8),itemcnt3.shift(9),itemcnt3.shift(10),itemcnt3.shift(11),itemcnt3.shift(12),itemcnt3], axis=1)

In [1189]:
dataframe3.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1192]:
x3 = dataframe3[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([60,61,62,63,64,65,66,67,68,69,70,71]).to_numpy()

In [1193]:
y3 = dataframe3['t+1'].drop([60,61,62,63,64,65,66,67,68,69,70,71]).to_numpy()

In [1194]:
xtrain3 = x3[0 : (len(x)-1)]
ytrain3 = y3[0 : (len(y)-1)]
xtest3= x3[-1].reshape(1, -1)
ytest3 = y3[-1].reshape(-1,1)

In [1195]:
pred100_3 = rf100.predict(xtest3)

In [1197]:
mape100_3= mean_absolute_percentage_error(ytest3, pred100_3)
accuracy3 = 100 - np.mean(mape100_3)

In [1198]:
print('Prediction for November Sales for Shop 3:', pred100_3)
print('Mape:', round(mape100_3,2),'%.')
print('Accuracy:', round(accuracy3, 2),'%.')

Prediction for November Sales for Shop 3: [848.79]
Mape: 42.41 %.
Accuracy: 57.59 %.

In [1199]:
#Shop 4
shop4 = train2[train2['shop_id'] == 4].drop([130,131])

In [1205]:
itemcnt4 = pd.DataFrame(shop4.item_cnt_month)

In [1214]:
dataframe4 = pd.concat([itemcnt4.shift(1),itemcnt4.shift(2),itemcnt4.shift(3),itemcnt4.shift(4),itemcnt4.shift(5),itemcnt4.shift(6),itemcnt4.shift(7),itemcnt4.shift(8),itemcnt4.shift(9),itemcnt4.shift(10),itemcnt4.shift(11),itemcnt4.shift(12),itemcnt4], axis=1)

In [1215]:
dataframe4.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1218]:
x4 = dataframe4[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([96,97,98,99,100,101,102,103,104,105,106,107]).to_numpy()
y4 = dataframe4['t+1'].drop([96,97,98,99,100,101,102,103,104,105,106,107]).to_numpy()

In [1219]:
xtrain4 = x4[0 : (len(x)-1)]
ytrain4 = y4[0 : (len(y)-1)]
xtest4= x4[-1].reshape(1, -1)
ytest4 = y4[-1].reshape(-1,1)

In [1220]:
pred100_4 = rf100.predict(xtest4)

In [1221]:
mape100_4= mean_absolute_percentage_error(ytest4, pred100_4)
accuracy4 = 100 - np.mean(mape100_4)

In [1222]:
print('Prediction for November Sales for Shop 4:', pred100_4)
print('Mape:', round(mape100_4,2),'%.')
print('Accuracy:', round(accuracy4, 2),'%.')

Prediction for November Sales for Shop 4: [848.85]
Mape: 13.18 %.
Accuracy: 86.82 %.

In [1226]:
shop5 = train2[train2['shop_id'] == 5].drop([166,167])

In [1228]:
itemcnt5 = pd.DataFrame(shop5.item_cnt_month)

In [1229]:
dataframe5 = pd.concat([itemcnt5.shift(1),itemcnt5.shift(2),itemcnt5.shift(3),itemcnt5.shift(4),itemcnt5.shift(5),itemcnt5.shift(6),itemcnt5.shift(7),itemcnt5.shift(8),itemcnt5.shift(9),itemcnt5.shift(10),itemcnt5.shift(11),itemcnt5.shift(12),itemcnt5], axis=1)

In [1230]:
dataframe5.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1232]:
x5 = dataframe5[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([132,133,134,135,136,137,138,139,140,141,142,143]).to_numpy()
y5 = dataframe5['t+1'].drop([132,133,134,135,136,137,138,139,140,141,142,143]).to_numpy()

In [1235]:
xtrain5 = x5[0 : (len(x)-1)]
ytrain5 = y5[0 : (len(y)-1)]
xtest5 = x5[-1].reshape(1, -1)
ytest5 = y5[-1].reshape(-1,1)

In [1236]:
pred100_5 = rf100.predict(xtest5)

In [1237]:
mape100_5= mean_absolute_percentage_error(ytest5, pred100_5)
accuracy5 = 100 - np.mean(mape100_5)

In [1241]:
print('Prediction for November Sales for Shop 5:', pred100_5)
print('Mape:', round(mape100_5,2),'%.')
print('Accuracy:', round(accuracy5, 2),'%.')

Prediction for November Sales for Shop 5: [831.31]
Mape: 12.49 %.
Accuracy: 87.51 %.

In [1323]:
#shop6
shop6 = train2[train2['shop_id'] == 6].drop([202,203])
itemcnt6 = pd.DataFrame(shop6.item_cnt_month)
dataframe6 = pd.concat([itemcnt6.shift(1),itemcnt6.shift(2),itemcnt6.shift(3),itemcnt6.shift(4),itemcnt6.shift(5),itemcnt6.shift(6),itemcnt6.shift(7),itemcnt6.shift(8),itemcnt6.shift(9),itemcnt6.shift(10),itemcnt6.shift(11),itemcnt6.shift(12),itemcnt6], axis=1)
dataframe6.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1330]:
x6 = dataframe6[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([168,169,170,171,172,173,174,175,176,177,178,179]).to_numpy()
y6 = dataframe6['t+1'].drop([168,169,170,171,172,173,174,175,176,177,178,179]).to_numpy()

In [1333]:
xtrain6 = x6[0 : (len(x)-1)]
ytrain6 = y6[0 : (len(y)-1)]
xtest6= x6[-1].reshape(1, -1)
ytest6 = y6[-1].reshape(-1,1)

In [1334]:
pred100_6 = rf100.predict(xtest6)
mape100_6= mean_absolute_percentage_error(ytest6, pred100_6)
accuracy6 = 100 - np.mean(mape100_6)

In [1336]:
#shop7
shop7 = train2[train2['shop_id'] == 7].drop([238,239])
itemcnt7 = pd.DataFrame(shop7.item_cnt_month)
dataframe7 = pd.concat([itemcnt7.shift(1),itemcnt7.shift(2),itemcnt7.shift(3),itemcnt7.shift(4),itemcnt7.shift(5),itemcnt7.shift(6),itemcnt7.shift(7),itemcnt7.shift(8),itemcnt7.shift(9),itemcnt7.shift(10),itemcnt7.shift(11),itemcnt7.shift(12),itemcnt7], axis=1)
dataframe7.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1338]:
x7 = dataframe7[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([204,205,206,207,208,209,210,211,212,213,214,215]).to_numpy()
y7 = dataframe7['t+1'].drop([204,205,206,207,208,209,210,211,212,213,214,215]).to_numpy()

In [1339]:
xtrain7 = x7[0 : (len(x)-1)]
ytrain7 = y7[0 : (len(y)-1)]
xtest7= x7[-1].reshape(1, -1)
ytest7 = y7[-1].reshape(-1,1)

In [1341]:
pred100_7 = rf100.predict(xtest7)
mape100_7= mean_absolute_percentage_error(ytest6, pred100_7)
accuracy7 = 100 - np.mean(mape100_7)

In [1342]:
#shop10
shop10 = train2[train2['shop_id'] == 10].drop([299,300])
itemcnt10 = pd.DataFrame(shop10.item_cnt_month)
dataframe10 = pd.concat([itemcnt10.shift(1),itemcnt10.shift(2),itemcnt10.shift(3),itemcnt10.shift(4),itemcnt10.shift(5),itemcnt10.shift(6),itemcnt10.shift(7),itemcnt10.shift(8),itemcnt10.shift(9),itemcnt10.shift(10),itemcnt10.shift(11),itemcnt10.shift(12),itemcnt10], axis=1)
dataframe10.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1344]:
x10 = dataframe10[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([265,266,267,268,269,270,271,272,273,274,275,276]).to_numpy()
y10 = dataframe10['t+1'].drop([265,266,267,268,269,270,271,272,273,274,275,276]).to_numpy()

In [1346]:
xtrain10 = x10[0 : (len(x)-1)]
ytrain10 = y10[0 : (len(y)-1)]
xtest10= x10[-1].reshape(1, -1)
ytest10 = y10[-1].reshape(-1,1)

In [1347]:
pred100_10 = rf100.predict(xtest10)
mape100_10= mean_absolute_percentage_error(ytest10, pred100_10)
accuracy10 = 100 - np.mean(mape100_10)

In [1362]:
#shop12
shop12 = train2[train2['shop_id'] == 12].drop([347,348])
itemcnt12 = pd.DataFrame(shop12.item_cnt_month)
dataframe12 = pd.concat([itemcnt12.shift(1),itemcnt12.shift(2),itemcnt12.shift(3),itemcnt12.shift(4),itemcnt12.shift(5),itemcnt12.shift(6),itemcnt12.shift(7),itemcnt12.shift(8),itemcnt12.shift(9),itemcnt12.shift(10),itemcnt12.shift(11),itemcnt12.shift(12),itemcnt12], axis=1)
dataframe12.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1364]:
x12 = dataframe12[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([313,314,315,316,317,318,319,320,321,322,323,324]).to_numpy()
y12 = dataframe12['t+1'].drop([313,314,315,316,317,318,319,320,321,322,323,324]).to_numpy()

In [1365]:
xtrain12 = x12[0 : (len(x)-1)]
ytrain12 = y12[0 : (len(y)-1)]
xtest12= x12[-1].reshape(1, -1)
ytest12 = y12[-1].reshape(-1,1)

In [1366]:
pred100_12 = rf100.predict(xtest12)
mape100_12= mean_absolute_percentage_error(ytest12, pred100_12)
accuracy12 = 100 - np.mean(mape100_12)

In [1370]:
#shop14
shop14 = train2[train2['shop_id'] == 14].drop([407,408])
itemcnt14 = pd.DataFrame(shop14.item_cnt_month)
dataframe14 = pd.concat([itemcnt14.shift(1),itemcnt14.shift(2),itemcnt14.shift(3),itemcnt14.shift(4),itemcnt14.shift(5),itemcnt14.shift(6),itemcnt14.shift(7),itemcnt14.shift(8),itemcnt14.shift(9),itemcnt14.shift(10),itemcnt14.shift(11),itemcnt14.shift(12),itemcnt14], axis=1)
dataframe14.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1372]:
x14 = dataframe14[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([373,374,375,376,377,378,379,380,381,382,383,384]).to_numpy()
y14 = dataframe14['t+1'].drop([373,374,375,376,377,378,379,380,381,382,383,384]).to_numpy()

In [1374]:
xtrain14 = x14[0 : (len(x)-1)]
ytrain14 = y14[0 : (len(y)-1)]
xtest14= x14[-1].reshape(1, -1)
ytest14 = y14[-1].reshape(-1,1)

In [1375]:
pred100_14 = rf100.predict(xtest14)
mape100_14 = mean_absolute_percentage_error(ytest14, pred100_14)
accuracy14 = 100 - np.mean(mape100_14)

In [1377]:
#shop15
shop15 = train2[train2['shop_id'] == 15].drop([443,444])
itemcnt15 = pd.DataFrame(shop10.item_cnt_month)
dataframe15 = pd.concat([itemcnt15.shift(1),itemcnt15.shift(2),itemcnt15.shift(3),itemcnt15.shift(4),itemcnt15.shift(5),itemcnt15.shift(6),itemcnt15.shift(7),itemcnt15.shift(8),itemcnt15.shift(9),itemcnt15.shift(10),itemcnt15.shift(11),itemcnt15.shift(12),itemcnt15], axis=1)
dataframe15.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1379]:
x15 = dataframe15[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([265,266,267,268,269,270,271,272,273,274,275,276]).to_numpy()
y15 = dataframe15['t+1'].drop([265,266,267,268,269,270,271,272,273,274,275,276]).to_numpy()

In [1381]:
xtrain15 = x15[0 : (len(x)-1)]
ytrain15 = y15[0 : (len(y)-1)]
xtest15= x15[-1].reshape(1, -1)
ytest15 = y15[-1].reshape(-1,1)

In [1382]:
pred100_15 = rf100.predict(xtest15)
mape100_15= mean_absolute_percentage_error(ytest15, pred100_15)
accuracy15 = 100 - np.mean(mape100_15)

In [1384]:
#shop16
shop16 = train2[train2['shop_id'] == 16].drop([479,480])
itemcnt16 = pd.DataFrame(shop16.item_cnt_month)
dataframe16 = pd.concat([itemcnt16.shift(1),itemcnt16.shift(2),itemcnt16.shift(3),itemcnt16.shift(4),itemcnt16.shift(5),itemcnt16.shift(6),itemcnt16.shift(7),itemcnt16.shift(8),itemcnt16.shift(9),itemcnt16.shift(10),itemcnt16.shift(11),itemcnt16.shift(12),itemcnt16], axis=1)
dataframe16.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1386]:
x16 = dataframe16[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([445,446,447,448,449,450,451,452,453,454,455,456]).to_numpy()
y16 = dataframe16['t+1'].drop([445,446,447,448,449,450,451,452,453,454,455,456]).to_numpy()

In [1387]:
xtrain16 = x16[0 : (len(x)-1)]
ytrain16 = y16[0 : (len(y)-1)]
xtest16 = x16[-1].reshape(1, -1)
ytest16 = y16[-1].reshape(-1,1)

In [1388]:
pred100_16 = rf100.predict(xtest16)
mape100_16= mean_absolute_percentage_error(ytest12, pred100_16)
accuracy16 = 100 - np.mean(mape100_16)

In [1389]:
#shop17
shop17 = train2[train2['shop_id'] == 17].drop([515,516])
itemcnt17 = pd.DataFrame(shop17.item_cnt_month)
dataframe17 = pd.concat([itemcnt17.shift(1),itemcnt17.shift(2),itemcnt17.shift(3),itemcnt17.shift(4),itemcnt17.shift(5),itemcnt17.shift(6),itemcnt17.shift(7),itemcnt17.shift(8),itemcnt17.shift(9),itemcnt17.shift(10),itemcnt17.shift(11),itemcnt17.shift(12),itemcnt17], axis=1)
dataframe17.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1391]:
x17 = dataframe17[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([481,482,483,484,485,486,487,488,489,490,491,492]).to_numpy()
y17 = dataframe17['t+1'].drop([481,482,483,484,485,486,487,488,489,490,491,492]).to_numpy()

In [1392]:
xtrain17 = x17[0 : (len(x)-1)]
ytrain17 = y17[0 : (len(y)-1)]
xtest17= x17[-1].reshape(1, -1)
ytest17 = y17[-1].reshape(-1,1)

In [1393]:
pred100_17 = rf100.predict(xtest17)
mape100_17= mean_absolute_percentage_error(ytest12, pred100_17)
accuracy17 = 100 - np.mean(mape100_17)

In [1395]:
#shop18
shop18 = train2[train2['shop_id'] == 18].drop([551,552])
itemcnt18 = pd.DataFrame(shop18.item_cnt_month)
dataframe18 = pd.concat([itemcnt18.shift(1),itemcnt18.shift(2),itemcnt18.shift(3),itemcnt18.shift(4),itemcnt18.shift(5),itemcnt18.shift(6),itemcnt18.shift(7),itemcnt18.shift(8),itemcnt18.shift(9),itemcnt18.shift(10),itemcnt18.shift(11),itemcnt18.shift(12),itemcnt18], axis=1)
dataframe18.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1397]:
x18 = dataframe18[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([517,518,519,520,521,522,523,524,525,526,527,528]).to_numpy()
y18 = dataframe18['t+1'].drop([517,518,519,520,521,522,523,524,525,526,527,528]).to_numpy()

In [1398]:
xtrain18 = x18[0 : (len(x)-1)]
ytrain18 = y18[0 : (len(y)-1)]
xtest18 = x18[-1].reshape(1, -1)
ytest18 = y18[-1].reshape(-1,1)

In [1673]:
pred100_18 = rf100.predict(xtest18)
mape100_18= mean_absolute_percentage_error(ytest18, pred100_18)
accuracy18 = 100 - np.mean(mape100_18)

In [1674]:
#shop19
shop19 = train2[train2['shop_id'] == 19].drop([587,588])
itemcnt19 = pd.DataFrame(shop19.item_cnt_month)
dataframe19 = pd.concat([itemcnt19.shift(1),itemcnt19.shift(2),itemcnt19.shift(3),itemcnt19.shift(4),itemcnt19.shift(5),itemcnt19.shift(6),itemcnt19.shift(7),itemcnt19.shift(8),itemcnt19.shift(9),itemcnt19.shift(10),itemcnt19.shift(11),itemcnt19.shift(12),itemcnt19], axis=1)
dataframe19.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1675]:
x19 = dataframe19[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([553,554,555,556,557,558,559,560,561,562,563,564]).to_numpy()
y19 = dataframe19['t+1'].drop([553,554,555,556,557,558,559,560,561,562,563,564]).to_numpy()

In [1676]:
xtrain19 = x19[0 : (len(x)-1)]
ytrain19 = y19[0 : (len(y)-1)]
xtest19 = x19[-1].reshape(1, -1)
ytest19 = y19[-1].reshape(-1,1)

In [1677]:
pred100_19 = rf100.predict(xtest19)
mape100_19 = mean_absolute_percentage_error(ytest19, pred100_19)
accuracy19 = 100 - np.mean(mape100_19)

In [1408]:
#shop21
shop21 = train2[train2['shop_id'] == 21].drop([632,633])
itemcnt21 = pd.DataFrame(shop21.item_cnt_month)
dataframe21 = pd.concat([itemcnt21.shift(1),itemcnt21.shift(2),itemcnt21.shift(3),itemcnt21.shift(4),itemcnt21.shift(5),itemcnt21.shift(6),itemcnt21.shift(7),itemcnt21.shift(8),itemcnt21.shift(9),itemcnt21.shift(10),itemcnt21.shift(11),itemcnt21.shift(12),itemcnt21], axis=1)
dataframe21.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1410]:
x21 = dataframe21[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([598,599,600,601,602,603,604,605,606,607,608,609]).to_numpy()
y21 = dataframe21['t+1'].drop([598,599,600,601,602,603,604,605,606,607,608,609]).to_numpy()

In [1411]:
xtrain21 = x21[0 : (len(x)-1)]
ytrain21 = y21[0 : (len(y)-1)]
xtest21= x21[-1].reshape(1, -1)
ytest21 = y21[-1].reshape(-1,1)

In [1412]:
pred100_21 = rf100.predict(xtest21)
mape100_21= mean_absolute_percentage_error(ytest21, pred100_21)
accuracy21 = 100 - np.mean(mape100_21)

In [1413]:
#shop22
shop22 = train2[train2['shop_id'] == 22].drop([668,669])
itemcnt22 = pd.DataFrame(shop22.item_cnt_month)
dataframe22 = pd.concat([itemcnt22.shift(1),itemcnt22.shift(2),itemcnt22.shift(3),itemcnt22.shift(4),itemcnt22.shift(5),itemcnt22.shift(6),itemcnt22.shift(7),itemcnt22.shift(8),itemcnt22.shift(9),itemcnt22.shift(10),itemcnt22.shift(11),itemcnt22.shift(12),itemcnt22], axis=1)
dataframe22.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1415]:
x22 = dataframe22[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([634,635,636,637,638,639,640,641,642,643,644,645]).to_numpy()
y22 = dataframe22['t+1'].drop([634,635,636,637,638,639,640,641,642,643,644,645]).to_numpy()

In [1416]:
xtrain22 = x22[0 : (len(x)-1)]
ytrain22 = y22[0 : (len(y)-1)]
xtest22 = x22[-1].reshape(1, -1)
ytest22 = y22[-1].reshape(-1,1)

In [1417]:
pred100_22 = rf100.predict(xtest22)
mape100_22= mean_absolute_percentage_error(ytest22, pred100_22)
accuracy22 = 100 - np.mean(mape100_22)

In [1418]:
#shop24
shop24 = train2[train2['shop_id'] == 24].drop([716,717])
itemcnt24 = pd.DataFrame(shop24.item_cnt_month)
dataframe24 = pd.concat([itemcnt24.shift(1),itemcnt24.shift(2),itemcnt24.shift(3),itemcnt24.shift(4),itemcnt24.shift(5),itemcnt24.shift(6),itemcnt24.shift(7),itemcnt24.shift(8),itemcnt24.shift(9),itemcnt24.shift(10),itemcnt24.shift(11),itemcnt24.shift(12),itemcnt24], axis=1)
dataframe24.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1420]:
x24 = dataframe24[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([682,683,684,685,686,687,688,689,690,691,692,693]).to_numpy()
y24 = dataframe24['t+1'].drop([682,683,684,685,686,687,688,689,690,691,692,693]).to_numpy()

In [1421]:
xtrain24 = x24[0 : (len(x)-1)]
ytrain24 = y24[0 : (len(y)-1)]
xtest24 = x24[-1].reshape(1, -1)
ytest24 = y24[-1].reshape(-1,1)

In [1422]:
pred100_24 = rf100.predict(xtest24)
mape100_24 = mean_absolute_percentage_error(ytest24, pred100_24)
accuracy24 = 100 - np.mean(mape100_24)

In [1424]:
#shop25
shop25 = train2[train2['shop_id'] == 25].drop([752,753])
itemcnt25 = pd.DataFrame(shop25.item_cnt_month)
dataframe25 = pd.concat([itemcnt25.shift(1),itemcnt25.shift(2),itemcnt25.shift(3),itemcnt25.shift(4),itemcnt25.shift(5),itemcnt25.shift(6),itemcnt25.shift(7),itemcnt25.shift(8),itemcnt25.shift(9),itemcnt25.shift(10),itemcnt25.shift(11),itemcnt25.shift(12),itemcnt25], axis=1)
dataframe25.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1426]:
x25 = dataframe25[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([718,719,720,721,722,723,724,725,726,727,728,729]).to_numpy()
y25 = dataframe25['t+1'].drop([718,719,720,721,722,723,724,725,726,727,728,729]).to_numpy()

In [1427]:
xtrain25 = x25[0 : (len(x)-1)]
ytrain25 = y25[0 : (len(y)-1)]
xtest25 = x25[-1].reshape(1, -1)
ytest25 = y25[-1].reshape(-1,1)

In [1428]:
pred100_25 = rf100.predict(xtest25)
mape100_25 = mean_absolute_percentage_error(ytest25, pred100_25)
accuracy25 = 100 - np.mean(mape100_25)

In [1429]:
#shop26
shop26 = train2[train2['shop_id'] == 26].drop([788,789])
itemcnt26 = pd.DataFrame(shop26.item_cnt_month)
dataframe26 = pd.concat([itemcnt26.shift(1),itemcnt26.shift(2),itemcnt26.shift(3),itemcnt26.shift(4),itemcnt26.shift(5),itemcnt26.shift(6),itemcnt26.shift(7),itemcnt26.shift(8),itemcnt26.shift(9),itemcnt26.shift(10),itemcnt26.shift(11),itemcnt26.shift(12),itemcnt26], axis=1)
dataframe26.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1431]:
x26 = dataframe26[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([754,755,756,757,758,759,760,761,762,763,764,765]).to_numpy()
y26 = dataframe26['t+1'].drop([754,755,756,757,758,759,760,761,762,763,764,765]).to_numpy()

In [1432]:
xtrain26 = x26[0 : (len(x)-1)]
ytrain26 = y26[0 : (len(y)-1)]
xtest26 = x26[-1].reshape(1, -1)
ytest26 = y26[-1].reshape(-1,1)

In [1433]:
pred100_26 = rf100.predict(xtest26)
mape100_26 = mean_absolute_percentage_error(ytest26, pred100_26)
accuracy26 = 100 - np.mean(mape100_26)

In [1434]:
#shop27
shop27 = train2[train2['shop_id'] == 27].drop([824,825])
itemcnt27 = pd.DataFrame(shop27.item_cnt_month)
dataframe27 = pd.concat([itemcnt27.shift(1),itemcnt27.shift(2),itemcnt27.shift(3),itemcnt27.shift(4),itemcnt27.shift(5),itemcnt27.shift(6),itemcnt27.shift(7),itemcnt27.shift(8),itemcnt27.shift(9),itemcnt27.shift(10),itemcnt27.shift(11),itemcnt27.shift(12),itemcnt27], axis=1)
dataframe27.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1436]:
x27 = dataframe27[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([790,791,792,793,794,795,796,797,798,799,800,801]).to_numpy()
y27 = dataframe27['t+1'].drop([790,791,792,793,794,795,796,797,798,799,800,801]).to_numpy()

In [1437]:
xtrain27 = x27[0 : (len(x)-1)]
ytrain27 = y27[0 : (len(y)-1)]
xtest27 = x27[-1].reshape(1, -1)
ytest27 = y27[-1].reshape(-1,1)

In [1438]:
pred100_27 = rf100.predict(xtest27)
mape100_27 = mean_absolute_percentage_error(ytest27, pred100_27)
accuracy27 = 100 - np.mean(mape100_27)

In [1446]:
#shop28
shop28 = train2[train2['shop_id'] == 28].drop([860,861])
itemcnt28 = pd.DataFrame(shop28.item_cnt_month)
dataframe28 = pd.concat([itemcnt28.shift(1),itemcnt28.shift(2),itemcnt28.shift(3),itemcnt28.shift(4),itemcnt28.shift(5),itemcnt28.shift(6),itemcnt28.shift(7),itemcnt28.shift(8),itemcnt28.shift(9),itemcnt28.shift(10),itemcnt28.shift(11),itemcnt28.shift(12),itemcnt28], axis=1)
dataframe28.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1447]:
x28 = dataframe28[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([826,827,828,829,830,831,832,833,834,835,836,837]).to_numpy()
y28 = dataframe28['t+1'].drop([826,827,828,829,830,831,832,833,834,835,836,837]).to_numpy()

In [1448]:
xtrain28 = x28[0 : (len(x)-1)]
ytrain28 = y28[0 : (len(y)-1)]
xtest28 = x28[-1].reshape(1, -1)
ytest28 = y28[-1].reshape(-1,1)

In [1449]:
pred100_28 = rf100.predict(xtest28)
mape100_28 = mean_absolute_percentage_error(ytest28, pred100_28)
accuracy28 = 100 - np.mean(mape100_28)

In [1453]:
#shop29
shop29 = train2[train2['shop_id'] == 29].drop([896,897])
itemcnt29 = pd.DataFrame(shop29.item_cnt_month)
dataframe29 = pd.concat([itemcnt29.shift(1),itemcnt29.shift(2),itemcnt29.shift(3),itemcnt29.shift(4),itemcnt29.shift(5),itemcnt29.shift(6),itemcnt29.shift(7),itemcnt29.shift(8),itemcnt29.shift(9),itemcnt29.shift(10),itemcnt29.shift(11),itemcnt29.shift(12),itemcnt29], axis=1)
dataframe29.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1455]:
x29 = dataframe29[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([862,863,864,865,866,867,868,869,870,871,872,873]).to_numpy()
y29 = dataframe29['t+1'].drop([862,863,864,865,866,867,868,869,870,871,872,873]).to_numpy()

In [1456]:
xtrain29 = x29[0 : (len(x)-1)]
ytrain29 = y29[0 : (len(y)-1)]
xtest29 = x29[-1].reshape(1, -1)
ytest29 = y29[-1].reshape(-1,1)

In [1457]:
pred100_29 = rf100.predict(xtest29)
mape100_29 = mean_absolute_percentage_error(ytest29, pred100_29)
accuracy29 = 100 - np.mean(mape100_29)

In [1458]:
#shop30
shop30 = train2[train2['shop_id'] == 30].drop([932,933])
itemcnt30 = pd.DataFrame(shop30.item_cnt_month)
dataframe30 = pd.concat([itemcnt30.shift(1),itemcnt30.shift(2),itemcnt30.shift(3),itemcnt30.shift(4),itemcnt30.shift(5),itemcnt30.shift(6),itemcnt30.shift(7),itemcnt30.shift(8),itemcnt30.shift(9),itemcnt30.shift(10),itemcnt30.shift(11),itemcnt30.shift(12),itemcnt30], axis=1)
dataframe30.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1460]:
x30 = dataframe30[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([898,899,900,901,902,903,904,905,906,907,908,909]).to_numpy()
y30 = dataframe30['t+1'].drop([898,899,900,901,902,903,904,905,906,907,908,909]).to_numpy()

In [1461]:
xtrain30 = x30[0 : (len(x)-1)]
ytrain30 = y30[0 : (len(y)-1)]
xtest30 = x30[-1].reshape(1, -1)
ytest30 = y30[-1].reshape(-1,1)

In [1462]:
pred100_30 = rf100.predict(xtest30)
mape100_30 = mean_absolute_percentage_error(ytest30, pred100_30)
accuracy30 = 100 - np.mean(mape100_30)

In [1488]:
#shop31
shop31 = train2[train2['shop_id'] == 31].drop([968,969])
itemcnt31 = pd.DataFrame(shop31.item_cnt_month)
dataframe31 = pd.concat([itemcnt31.shift(1),itemcnt31.shift(2),itemcnt31.shift(3),itemcnt31.shift(4),itemcnt31.shift(5),itemcnt31.shift(6),itemcnt31.shift(7),itemcnt31.shift(8),itemcnt31.shift(9),itemcnt31.shift(10),itemcnt31.shift(11),itemcnt31.shift(12),itemcnt31], axis=1)
dataframe31.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1489]:
x31 = dataframe31[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([934,935,936,937,938,939,940,941,942,943,944,945]).to_numpy()
y31 = dataframe31['t+1'].drop([934,935,936,937,938,939,940,941,942,943,944,945]).to_numpy()

In [1490]:
xtrain31 = x31[0 : (len(x)-1)]
ytrain31 = y31[0 : (len(y)-1)]
xtest31 = x31[-1].reshape(1, -1)
ytest31 = y31[-1].reshape(-1,1)

In [1491]:
pred100_31 = rf100.predict(xtest31)
mape100_31 = mean_absolute_percentage_error(ytest31, pred100_31)
accuracy31 = 100 - np.mean(mape100_31)

In [1495]:
#shop33
shop33 = train2[train2['shop_id'] == 33].drop([1004,1005])
itemcnt33 = pd.DataFrame(shop33.item_cnt_month)
dataframe33 = pd.concat([itemcnt33.shift(1),itemcnt33.shift(2),itemcnt33.shift(3),itemcnt33.shift(4),itemcnt33.shift(5),itemcnt33.shift(6),itemcnt33.shift(7),itemcnt33.shift(8),itemcnt33.shift(9),itemcnt33.shift(10),itemcnt33.shift(11),itemcnt33.shift(12),itemcnt33], axis=1)
dataframe33.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1497]:

x33 = dataframe33[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([982,983,984,985,986,987,988,989,990,991,992,993]).to_numpy()
y33 = dataframe33['t+1'].drop([982,983,984,985,986,987,988,989,990,991,992,993]).to_numpy()

In [1498]:
xtrain33 = x33[0 : (len(x)-1)]
ytrain33 = y33[0 : (len(y)-1)]
xtest33 = x33[-1].reshape(1, -1)
ytest33 = y33[-1].reshape(-1,1)

In [1499]:
pred100_33 = rf100.predict(xtest33)
mape100_33 = mean_absolute_percentage_error(ytest33, pred100_33)
accuracy33 = 100 - np.mean(mape100_33)

In [1502]:
#shop34
shop34 = train2[train2['shop_id'] == 34].drop([1028,1029])
itemcnt34 = pd.DataFrame(shop34.item_cnt_month)
dataframe34 = pd.concat([itemcnt34.shift(1),itemcnt34.shift(2),itemcnt34.shift(3),itemcnt34.shift(4),itemcnt34.shift(5),itemcnt34.shift(6),itemcnt34.shift(7),itemcnt34.shift(8),itemcnt34.shift(9),itemcnt34.shift(10),itemcnt34.shift(11),itemcnt34.shift(12),itemcnt34], axis=1)
dataframe34.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1505]:
x34 = dataframe34[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017]).to_numpy()
y34 = dataframe34['t+1'].drop([1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017]).to_numpy()

In [1506]:
xtrain34 = x34[0 : (len(x)-1)]
ytrain34 = y34[0 : (len(y)-1)]
xtest34 = x34[-1].reshape(1, -1)
ytest34 = y34[-1].reshape(-1,1)

In [1507]:
pred100_34 = rf100.predict(xtest34)
mape100_34 = mean_absolute_percentage_error(ytest34, pred100_34)
accuracy34 = 100 - np.mean(mape100_34)

In [1508]:
#shop35
shop35 = train2[train2['shop_id'] == 35].drop([1064,1065])
itemcnt35 = pd.DataFrame(shop35.item_cnt_month)
dataframe35 = pd.concat([itemcnt35.shift(1),itemcnt35.shift(2),itemcnt35.shift(3),itemcnt35.shift(4),itemcnt35.shift(5),itemcnt35.shift(6),itemcnt35.shift(7),itemcnt35.shift(8),itemcnt35.shift(9),itemcnt35.shift(10),itemcnt35.shift(11),itemcnt35.shift(12),itemcnt35], axis=1)
dataframe35.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1510]:
x35 = dataframe35[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041]).to_numpy()
y35 = dataframe35['t+1'].drop([1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041]).to_numpy()

In [1515]:
xtrain35 = x35[0 : (len(x)-1)]
ytrain35 = y35[0 : (len(y)-1)]
xtest35 = x35[-1].reshape(1, -1)
ytest35 = y35[-1].reshape(-1,1)

In [1516]:
pred100_35 = rf100.predict(xtest35)
mape100_35 = mean_absolute_percentage_error(ytest35, pred100_35)
accuracy35 = 100 - np.mean(mape100_35)

In [1517]:
#shop37
shop37 = train2[train2['shop_id'] == 37].drop([1101,1102])
itemcnt37 = pd.DataFrame(shop37.item_cnt_month)
dataframe37 = pd.concat([itemcnt37.shift(1),itemcnt37.shift(2),itemcnt37.shift(3),itemcnt37.shift(4),itemcnt37.shift(5),itemcnt37.shift(6),itemcnt37.shift(7),itemcnt37.shift(8),itemcnt37.shift(9),itemcnt37.shift(10),itemcnt37.shift(11),itemcnt37.shift(12),itemcnt37], axis=1)
dataframe37.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1519]:

x37 = dataframe37[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078]).to_numpy()
y37 = dataframe37['t+1'].drop([1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078]).to_numpy()

In [1520]:
xtrain37 = x37[0 : (len(x)-1)]
ytrain37 = y37[0 : (len(y)-1)]
xtest37 = x37[-1].reshape(1, -1)
ytest37 = y37[-1].reshape(-1,1)

In [1521]:
pred100_37 = rf100.predict(xtest37)
mape100_37 = mean_absolute_percentage_error(ytest37, pred100_37)
accuracy37 = 100 - np.mean(mape100_37)

In [1522]:
accuracy37

98.22271223814774

In [1523]:
#shop38
shop38 = train2[train2['shop_id'] == 38].drop([1137,1138])
itemcnt38 = pd.DataFrame(shop38.item_cnt_month)
dataframe38 = pd.concat([itemcnt38.shift(1),itemcnt38.shift(2),itemcnt38.shift(3),itemcnt38.shift(4),itemcnt38.shift(5),itemcnt38.shift(6),itemcnt38.shift(7),itemcnt38.shift(8),itemcnt38.shift(9),itemcnt38.shift(10),itemcnt38.shift(11),itemcnt38.shift(12),itemcnt38], axis=1)
dataframe38.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1525]:
x38 = dataframe38[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114]).to_numpy()
y38 = dataframe38['t+1'].drop([1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114]).to_numpy()

In [1527]:
xtrain38 = x38[0 : (len(x)-1)]
ytrain38 = y38[0 : (len(y)-1)]
xtest38 = x38[-1].reshape(1, -1)
ytest38 = y38[-1].reshape(-1,1)

In [1528]:
pred100_38 = rf100.predict(xtest38)
mape100_38 = mean_absolute_percentage_error(ytest38, pred100_38)
accuracy38 = 100 - np.mean(mape100_38)

In [1530]:
#shop39
shop39 = train2[train2['shop_id'] == 39].drop([1161,1162])
itemcnt39 = pd.DataFrame(shop39.item_cnt_month)
dataframe39 = pd.concat([itemcnt39.shift(1),itemcnt39.shift(2),itemcnt39.shift(3),itemcnt39.shift(4),itemcnt39.shift(5),itemcnt39.shift(6),itemcnt39.shift(7),itemcnt39.shift(8),itemcnt39.shift(9),itemcnt39.shift(10),itemcnt39.shift(11),itemcnt39.shift(12),itemcnt39], axis=1)
dataframe39.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1532]:
x39 = dataframe39[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150]).to_numpy()
y39 = dataframe39['t+1'].drop([1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150]).to_numpy()

In [1533]:
xtrain39 = x39[0 : (len(x)-1)]
ytrain39 = y39[0 : (len(y)-1)]
xtest39 = x39[-1].reshape(1, -1)
ytest39 = y39[-1].reshape(-1,1)

In [1534]:
pred100_39 = rf100.predict(xtest39)
mape100_39 = mean_absolute_percentage_error(ytest39, pred100_39)
accuracy39 = 100 - np.mean(mape100_39)

In [1536]:
#shop40
shop40 = train2[train2['shop_id'] == 40].drop([1185,1186])
itemcnt40 = pd.DataFrame(shop40.item_cnt_month)
dataframe40 = pd.concat([itemcnt40.shift(1),itemcnt40.shift(2),itemcnt40.shift(3),itemcnt40.shift(4),itemcnt40.shift(5),itemcnt40.shift(6),itemcnt40.shift(7),itemcnt40.shift(8),itemcnt40.shift(9),itemcnt40.shift(10),itemcnt40.shift(11),itemcnt40.shift(12),itemcnt40], axis=1)
dataframe40.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1538]:
x40 = dataframe40[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174]).to_numpy()
y40 = dataframe40['t+1'].drop([1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174]).to_numpy()

In [1539]:
xtrain40 = x40[0 : (len(x)-1)]
ytrain40 = y40[0 : (len(y)-1)]
xtest40 = x40[-1].reshape(1, -1)
ytest40 = y40[-1].reshape(-1,1)

In [1540]:
pred100_40 = rf100.predict(xtest40)
mape100_40 = mean_absolute_percentage_error(ytest40, pred100_40)
accuracy40 = 100 - np.mean(mape100_40)

In [1543]:
#shop41
shop41 = train2[train2['shop_id'] == 41].drop([1221,1222])
itemcnt41 = pd.DataFrame(shop41.item_cnt_month)
dataframe41 = pd.concat([itemcnt41.shift(1),itemcnt41.shift(2),itemcnt41.shift(3),itemcnt41.shift(4),itemcnt41.shift(5),itemcnt41.shift(6),itemcnt41.shift(7),itemcnt41.shift(8),itemcnt41.shift(9),itemcnt41.shift(10),itemcnt41.shift(11),itemcnt41.shift(12),itemcnt41], axis=1)
dataframe41.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1545]:
x41 = dataframe41[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198]).to_numpy()
y41 = dataframe41['t+1'].drop([1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198]).to_numpy()

In [1546]:

xtrain41 = x41[0 : (len(x)-1)]
ytrain41 = y41[0 : (len(y)-1)]
xtest41 = x41[-1].reshape(1, -1)
ytest41 = y41[-1].reshape(-1,1)

In [1547]:
pred100_41 = rf100.predict(xtest41)
mape100_41 = mean_absolute_percentage_error(ytest41, pred100_41)
accuracy41 = 100 - np.mean(mape100_41)

In [1549]:
#shop42
shop42 = train2[train2['shop_id'] == 42].drop([1257,1258])
itemcnt42 = pd.DataFrame(shop42.item_cnt_month)
dataframe42 = pd.concat([itemcnt42.shift(1),itemcnt42.shift(2),itemcnt42.shift(3),itemcnt42.shift(4),itemcnt42.shift(5),itemcnt42.shift(6),itemcnt42.shift(7),itemcnt42.shift(8),itemcnt42.shift(9),itemcnt42.shift(10),itemcnt42.shift(11),itemcnt42.shift(12),itemcnt42], axis=1)
dataframe42.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1560]:
x42 = dataframe42[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1234]).to_numpy()
y42 = dataframe42['t+1'].drop([1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1234]).to_numpy()

In [1561]:
xtrain42 = x42[0 : (len(x)-1)]
ytrain42 = y42[0 : (len(y)-1)]
xtest42 = x42[-1].reshape(1, -1)
ytest42 = y42[-1].reshape(-1,1)

In [1562]:
pred100_42 = rf100.predict(xtest42)
mape100_42 = mean_absolute_percentage_error(ytest42, pred100_42)
accuracy42 = 100 - np.mean(mape100_42)

In [1563]:
#shop43
shop43 = train2[train2['shop_id'] == 43].drop([1292,1293])
itemcnt43 = pd.DataFrame(shop43.item_cnt_month)
dataframe43 = pd.concat([itemcnt43.shift(1),itemcnt43.shift(2),itemcnt43.shift(3),itemcnt43.shift(4),itemcnt43.shift(5),itemcnt43.shift(6),itemcnt43.shift(7),itemcnt43.shift(8),itemcnt43.shift(9),itemcnt43.shift(10),itemcnt43.shift(11),itemcnt43.shift(12),itemcnt43], axis=1)
dataframe43.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1565]:
x43 = dataframe43[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270]).to_numpy()
y43 = dataframe43['t+1'].drop([1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270]).to_numpy()

In [1566]:

xtrain43 = x43[0 : (len(x)-1)]
ytrain43 = y43[0 : (len(y)-1)]
xtest43 = x43[-1].reshape(1, -1)
ytest43 = y43[-1].reshape(-1,1)

In [1567]:
pred100_43 = rf100.predict(xtest43)
mape100_43 = mean_absolute_percentage_error(ytest43, pred100_43)
accuracy43 = 100 - np.mean(mape100_43)

In [1570]:
#shop44
shop44 = train2[train2['shop_id'] == 44].drop([1328,1329])
itemcnt44 = pd.DataFrame(shop44.item_cnt_month)
dataframe44 = pd.concat([itemcnt44.shift(1),itemcnt44.shift(2),itemcnt44.shift(3),itemcnt44.shift(4),itemcnt44.shift(5),itemcnt44.shift(6),itemcnt44.shift(7),itemcnt44.shift(8),itemcnt44.shift(9),itemcnt44.shift(10),itemcnt44.shift(11),itemcnt44.shift(12),itemcnt44], axis=1)
dataframe44.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1572]:
x44 = dataframe44[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305]).to_numpy()
y44 = dataframe44['t+1'].drop([1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305]).to_numpy()

In [1573]:
xtrain44 = x44[0 : (len(x)-1)]
ytrain44 = y44[0 : (len(y)-1)]
xtest44 = x44[-1].reshape(1, -1)
ytest44 = y44[-1].reshape(-1,1)

In [1574]:
pred100_44 = rf100.predict(xtest44)
mape100_44 = mean_absolute_percentage_error(ytest44, pred100_44)
accuracy44 = 100 - np.mean(mape100_44)

In [1575]:
accuracy44

90.74628879892038

In [1576]:
#shop45
shop45 = train2[train2['shop_id'] == 45].drop([1364,1365])
itemcnt45 = pd.DataFrame(shop45.item_cnt_month)
dataframe45 = pd.concat([itemcnt45.shift(1),itemcnt45.shift(2),itemcnt45.shift(3),itemcnt45.shift(4),itemcnt45.shift(5),itemcnt45.shift(6),itemcnt45.shift(7),itemcnt45.shift(8),itemcnt45.shift(9),itemcnt45.shift(10),itemcnt45.shift(11),itemcnt45.shift(12),itemcnt45], axis=1)
dataframe45.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1578]:
x45 = dataframe45[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341]).to_numpy()
y45 = dataframe45['t+1'].drop([1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341]).to_numpy()

In [1579]:
xtrain45 = x45[0 : (len(x)-1)]
ytrain45 = y45[0 : (len(y)-1)]
xtest45 = x45[-1].reshape(1, -1)
ytest45 = y45[-1].reshape(-1,1)

In [1580]:
pred100_45 = rf100.predict(xtest45)
mape100_45 = mean_absolute_percentage_error(ytest45, pred100_45)
accuracy45 = 100 - np.mean(mape100_45)

In [1582]:
#shop46
shop46 = train2[train2['shop_id'] == 46].drop([1400,1401])
itemcnt46 = pd.DataFrame(shop46.item_cnt_month)
dataframe46 = pd.concat([itemcnt46.shift(1),itemcnt46.shift(2),itemcnt46.shift(3),itemcnt46.shift(4),itemcnt46.shift(5),itemcnt46.shift(6),itemcnt46.shift(7),itemcnt46.shift(8),itemcnt46.shift(9),itemcnt46.shift(10),itemcnt46.shift(11),itemcnt46.shift(12),itemcnt46], axis=1)
dataframe46.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1584]:
x46 = dataframe46[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377]).to_numpy()
y46 = dataframe46['t+1'].drop([1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377]).to_numpy()

In [1585]:
xtrain46 = x46[0 : (len(x)-1)]
ytrain46 = y46[0 : (len(y)-1)]
xtest46 = x46[-1].reshape(1, -1)
ytest46 = y46[-1].reshape(-1,1)

In [1586]:
pred100_46 = rf100.predict(xtest46)
mape100_46 = mean_absolute_percentage_error(ytest46, pred100_46)
accuracy46 = 100 - np.mean(mape100_46)

In [1588]:
#shop47
shop47 = train2[train2['shop_id'] == 47].drop([1436,1437])
itemcnt47 = pd.DataFrame(shop47.item_cnt_month)
dataframe47 = pd.concat([itemcnt47.shift(1),itemcnt47.shift(2),itemcnt47.shift(3),itemcnt47.shift(4),itemcnt47.shift(5),itemcnt47.shift(6),itemcnt47.shift(7),itemcnt47.shift(8),itemcnt47.shift(9),itemcnt47.shift(10),itemcnt47.shift(11),itemcnt47.shift(12),itemcnt47], axis=1)
dataframe47.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1590]:
x47 = dataframe47[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1402,1403,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413]).to_numpy()
y47 = dataframe47['t+1'].drop([1402,1403,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413]).to_numpy()

In [1591]:
xtrain47 = x47[0 : (len(x)-1)]
ytrain47 = y47[0 : (len(y)-1)]
xtest47 = x47[-1].reshape(1, -1)
ytest47 = y47[-1].reshape(-1,1)

In [1592]:
pred100_47 = rf100.predict(xtest47)
mape100_47 = mean_absolute_percentage_error(ytest47, pred100_47)
accuracy47 = 100 - np.mean(mape100_47)

In [1594]:
#shop48
shop48 = train2[train2['shop_id'] == 48].drop([1460,1461])
itemcnt48 = pd.DataFrame(shop48.item_cnt_month)
dataframe48 = pd.concat([itemcnt48.shift(1),itemcnt48.shift(2),itemcnt48.shift(3),itemcnt48.shift(4),itemcnt48.shift(5),itemcnt48.shift(6),itemcnt48.shift(7),itemcnt48.shift(8),itemcnt48.shift(9),itemcnt48.shift(10),itemcnt48.shift(11),itemcnt48.shift(12),itemcnt48], axis=1)
dataframe48.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1596]:

x48 = dataframe48[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449]).to_numpy()
y48 = dataframe48['t+1'].drop([1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449]).to_numpy()

In [1597]:
xtrain48 = x48[0 : (len(x)-1)]
ytrain48 = y48[0 : (len(y)-1)]
xtest48 = x48[-1].reshape(1, -1)
ytest48 = y48[-1].reshape(-1,1)

In [1598]:
pred100_48 = rf100.predict(xtest48)
mape100_48 = mean_absolute_percentage_error(ytest48, pred100_48)
accuracy48 = 100 - np.mean(mape100_48)

In [1600]:
#shop49
shop49 = train2[train2['shop_id'] == 49].drop([1485,1486])
itemcnt49 = pd.DataFrame(shop49.item_cnt_month)
dataframe49 = pd.concat([itemcnt49.shift(1),itemcnt49.shift(2),itemcnt49.shift(3),itemcnt49.shift(4),itemcnt49.shift(5),itemcnt49.shift(6),itemcnt49.shift(7),itemcnt49.shift(8),itemcnt49.shift(9),itemcnt49.shift(10),itemcnt49.shift(11),itemcnt49.shift(12),itemcnt49], axis=1)
dataframe49.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1602]:
x49 = dataframe49[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473]).to_numpy()
y49 = dataframe49['t+1'].drop([1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473]).to_numpy()

In [1603]:
xtrain49 = x49[0 : (len(x)-1)]
ytrain49 = y49[0 : (len(y)-1)]
xtest49 = x49[-1].reshape(1, -1)
ytest49 = y49[-1].reshape(-1,1)

In [1604]:
pred100_49 = rf100.predict(xtest49)
mape100_49 = mean_absolute_percentage_error(ytest49, pred100_49)
accuracy49 = 100 - np.mean(mape100_49)

In [1606]:
#shop50
shop50 = train2[train2['shop_id'] == 50].drop([1521,1522])
itemcnt50 = pd.DataFrame(shop50.item_cnt_month)
dataframe50 = pd.concat([itemcnt50.shift(1),itemcnt50.shift(2),itemcnt50.shift(3),itemcnt50.shift(4),itemcnt50.shift(5),itemcnt50.shift(6),itemcnt50.shift(7),itemcnt50.shift(8),itemcnt50.shift(9),itemcnt50.shift(10),itemcnt50.shift(11),itemcnt50.shift(12),itemcnt50], axis=1)
dataframe50.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1608]:
x50 = dataframe50[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498]).to_numpy()
y50 = dataframe50['t+1'].drop([1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498]).to_numpy()

In [1609]:
xtrain50 = x50[0 : (len(x)-1)]
ytrain50 = y50[0 : (len(y)-1)]
xtest50 = x50[-1].reshape(1, -1)
ytest50 = y50[-1].reshape(-1,1)

In [1610]:
pred100_50 = rf100.predict(xtest50)
mape100_50 = mean_absolute_percentage_error(ytest50, pred100_50)
accuracy50 = 100 - np.mean(mape100_50)

In [1612]:
#shop51
shop51 = train2[train2['shop_id'] == 51].drop([1557,1558])
itemcnt51 = pd.DataFrame(shop51.item_cnt_month)
dataframe51 = pd.concat([itemcnt51.shift(1),itemcnt51.shift(2),itemcnt51.shift(3),itemcnt51.shift(4),itemcnt51.shift(5),itemcnt51.shift(6),itemcnt51.shift(7),itemcnt51.shift(8),itemcnt51.shift(9),itemcnt51.shift(10),itemcnt51.shift(11),itemcnt51.shift(12),itemcnt51], axis=1)
dataframe51.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1614]:

x51 = dataframe51[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534]).to_numpy()
y51 = dataframe51['t+1'].drop([1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534]).to_numpy()

In [1615]:
xtrain51 = x51[0 : (len(x)-1)]
ytrain51 = y51[0 : (len(y)-1)]
xtest51 = x51[-1].reshape(1, -1)
ytest51 = y51[-1].reshape(-1,1)

In [1616]:
pred100_51 = rf100.predict(xtest51)
mape100_51 = mean_absolute_percentage_error(ytest51, pred100_51)
accuracy51 = 100 - np.mean(mape100_51)

In [1620]:
#shop52
shop52 = train2[train2['shop_id'] == 52].drop([1593,1594])
itemcnt52 = pd.DataFrame(shop52.item_cnt_month)
dataframe52 = pd.concat([itemcnt52.shift(1),itemcnt52.shift(2),itemcnt52.shift(3),itemcnt52.shift(4),itemcnt52.shift(5),itemcnt52.shift(6),itemcnt52.shift(7),itemcnt52.shift(8),itemcnt52.shift(9),itemcnt52.shift(10),itemcnt52.shift(11),itemcnt52.shift(12),itemcnt52], axis=1)
dataframe52.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1622]:
x52 = dataframe52[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570]).to_numpy()
y52 = dataframe52['t+1'].drop([1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570]).to_numpy()

In [1623]:
xtrain52 = x52[0 : (len(x)-1)]
ytrain52 = y52[0 : (len(y)-1)]
xtest52 = x52[-1].reshape(1, -1)
ytest52 = y52[-1].reshape(-1,1)

In [1624]:
pred100_52 = rf100.predict(xtest52)
mape100_52 = mean_absolute_percentage_error(ytest52, pred100_52)
accuracy52 = 100 - np.mean(mape100_52)

In [1626]:
#shop53
shop53 = train2[train2['shop_id'] == 53].drop([1629,1630])
itemcnt53 = pd.DataFrame(shop53.item_cnt_month)
dataframe53 = pd.concat([itemcnt53.shift(1),itemcnt53.shift(2),itemcnt53.shift(3),itemcnt53.shift(4),itemcnt53.shift(5),itemcnt53.shift(6),itemcnt53.shift(7),itemcnt53.shift(8),itemcnt53.shift(9),itemcnt53.shift(10),itemcnt53.shift(11),itemcnt53.shift(12),itemcnt53], axis=1)
dataframe53.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1628]:
x53 = dataframe53[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606]).to_numpy()
y53 = dataframe53['t+1'].drop([1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606]).to_numpy()

In [1629]:
xtrain53 = x53[0 : (len(x)-1)]
ytrain53 = y53[0 : (len(y)-1)]
xtest53 = x53[-1].reshape(1, -1)
ytest53 = y53[-1].reshape(-1,1)

In [1630]:
pred100_53 = rf100.predict(xtest53)
mape100_53 = mean_absolute_percentage_error(ytest53, pred100_53)
accuracy53 = 100 - np.mean(mape100_53)

In [1632]:
#shop54
shop54 = train2[train2['shop_id'] == 54].drop([1665,1666])
itemcnt54 = pd.DataFrame(shop54.item_cnt_month)
dataframe54 = pd.concat([itemcnt54.shift(1),itemcnt54.shift(2),itemcnt54.shift(3),itemcnt54.shift(4),itemcnt54.shift(5),itemcnt54.shift(6),itemcnt54.shift(7),itemcnt54.shift(8),itemcnt54.shift(9),itemcnt54.shift(10),itemcnt54.shift(11),itemcnt54.shift(12),itemcnt54], axis=1)
dataframe54.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1634]:
x54 = dataframe54[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642]).to_numpy()
y54 = dataframe54['t+1'].drop([1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642]).to_numpy()

In [1635]:
xtrain54 = x54[0 : (len(x)-1)]
ytrain54 = y54[0 : (len(y)-1)]
xtest54 = x54[-1].reshape(1, -1)
ytest54 = y54[-1].reshape(-1,1)

In [1636]:
pred100_54 = rf100.predict(xtest54)
mape100_54 = mean_absolute_percentage_error(ytest54, pred100_54)
accuracy54 = 100 - np.mean(mape100_54)

In [1639]:
#shop55
shop55 = train2[train2['shop_id'] == 55].drop([1701,1702])
itemcnt55 = pd.DataFrame(shop55.item_cnt_month)
dataframe55 = pd.concat([itemcnt55.shift(1),itemcnt55.shift(2),itemcnt55.shift(3),itemcnt55.shift(4),itemcnt55.shift(5),itemcnt55.shift(6),itemcnt55.shift(7),itemcnt55.shift(8),itemcnt55.shift(9),itemcnt55.shift(10),itemcnt55.shift(11),itemcnt55.shift(12),itemcnt55], axis=1)
dataframe55.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1641]:

x55 = dataframe55[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678]).to_numpy()
y55 = dataframe55['t+1'].drop([1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678]).to_numpy()

In [1643]:

xtrain55 = x55[0 : (len(x)-1)]
ytrain55 = y55[0 : (len(y)-1)]
xtest55 = x55[-1].reshape(1, -1)
ytest55 = y55[-1].reshape(-1,1)

In [1644]:
pred100_55 = rf100.predict(xtest55)
mape100_55 = mean_absolute_percentage_error(ytest55, pred100_55)
accuracy55 = 100 - np.mean(mape100_55)

In [1646]:
#shop56
shop56 = train2[train2['shop_id'] == 56].drop([1737,1738])
itemcnt56 = pd.DataFrame(shop56.item_cnt_month)
dataframe56 = pd.concat([itemcnt56.shift(1),itemcnt56.shift(2),itemcnt56.shift(3),itemcnt56.shift(4),itemcnt56.shift(5),itemcnt56.shift(6),itemcnt56.shift(7),itemcnt56.shift(8),itemcnt56.shift(9),itemcnt56.shift(10),itemcnt56.shift(11),itemcnt56.shift(12),itemcnt56], axis=1)
dataframe56.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1648]:
x56 = dataframe56[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714]).to_numpy()
y56 = dataframe56['t+1'].drop([1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714]).to_numpy()

In [1649]:
xtrain56 = x56[0 : (len(x)-1)]
ytrain56 = y56[0 : (len(y)-1)]
xtest56 = x56[-1].reshape(1, -1)
ytest56 = y56[-1].reshape(-1,1)

In [1650]:
pred100_56 = rf100.predict(xtest56)
mape100_56 = mean_absolute_percentage_error(ytest56, pred100_56)
accuracy56 = 100 - np.mean(mape100_56)

In [1652]:
#shop57
shop57 = train2[train2['shop_id'] == 57].drop([1773,1774])
itemcnt57 = pd.DataFrame(shop57.item_cnt_month)
dataframe57 = pd.concat([itemcnt57.shift(1),itemcnt57.shift(2),itemcnt57.shift(3),itemcnt57.shift(4),itemcnt57.shift(5),itemcnt57.shift(6),itemcnt57.shift(7),itemcnt57.shift(8),itemcnt57.shift(9),itemcnt57.shift(10),itemcnt57.shift(11),itemcnt57.shift(12),itemcnt57], axis=1)
dataframe57.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1654]:
x57 = dataframe57[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749,1750]).to_numpy()
y57 = dataframe57['t+1'].drop([1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749,1750]).to_numpy()

In [1655]:
xtrain57 = x57[0 : (len(x)-1)]
ytrain57 = y57[0 : (len(y)-1)]
xtest57 = x57[-1].reshape(1, -1)
ytest57 = y57[-1].reshape(-1,1)

In [1656]:
pred100_57 = rf100.predict(xtest57)
mape100_57 = mean_absolute_percentage_error(ytest57, pred100_57)
accuracy57 = 100 - np.mean(mape100_57)

In [1658]:
#shop58
shop58 = train2[train2['shop_id'] == 58].drop([1809,1810])
itemcnt58 = pd.DataFrame(shop58.item_cnt_month)
dataframe58 = pd.concat([itemcnt58.shift(1),itemcnt58.shift(2),itemcnt58.shift(3),itemcnt58.shift(4),itemcnt58.shift(5),itemcnt58.shift(6),itemcnt58.shift(7),itemcnt58.shift(8),itemcnt58.shift(9),itemcnt58.shift(10),itemcnt58.shift(11),itemcnt58.shift(12),itemcnt58], axis=1)
dataframe58.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1660]:
x58 = dataframe58[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786]).to_numpy()
y58 = dataframe58['t+1'].drop([1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786]).to_numpy()

In [1661]:
xtrain58 = x58[0 : (len(x)-1)]
ytrain58 = y58[0 : (len(y)-1)]
xtest58 = x58[-1].reshape(1, -1)
ytest58 = y58[-1].reshape(-1,1)

In [1662]:
pred100_58 = rf100.predict(xtest58)
mape100_58 = mean_absolute_percentage_error(ytest58, pred100_58)
accuracy58 = 100 - np.mean(mape100_58)

In [1664]:
#shop59
shop59 = train2[train2['shop_id'] == 59].drop([1843,1844])
itemcnt59 = pd.DataFrame(shop59.item_cnt_month)
dataframe59 = pd.concat([itemcnt59.shift(1),itemcnt59.shift(2),itemcnt59.shift(3),itemcnt59.shift(4),itemcnt59.shift(5),itemcnt59.shift(6),itemcnt59.shift(7),itemcnt59.shift(8),itemcnt59.shift(9),itemcnt59.shift(10),itemcnt59.shift(11),itemcnt59.shift(12),itemcnt59], axis=1)
dataframe59.columns = ['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12','t+1']

In [1666]:
x59 = dataframe59[['t-1','t-2','t-3','t-4','t-5','t-6','t-7','t-8','t-9','t-10','t-11','t-12']].drop([1811,1812,1813,1814,1815,1816,1817,1818,1819,1820,1821,1822]).to_numpy()
y59 = dataframe59['t+1'].drop([1811,1812,1813,1814,1815,1816,1817,1818,1819,1820,1821,1822]).to_numpy()

In [1667]:

xtrain59 = x59[0 : (len(x)-1)]
ytrain59 = y59[0 : (len(y)-1)]
xtest59 = x59[-1].reshape(1, -1)
ytest59 = y59[-1].reshape(-1,1)

In [1668]:
pred100_59 = rf100.predict(xtest59)
mape100_59 = mean_absolute_percentage_error(ytest59, pred100_59)
accuracy59 = 100 - np.mean(mape100_59)

In [1678]:
#Prediction Results
print('Prediction for November Sales for Shop 2:', pred100_2)
print('Prediction for November Sales for Shop 3:', pred100_3)
print('Prediction for November Sales for Shop 4:', pred100_4)
print('Prediction for November Sales for Shop 5:', pred100_5)
print('Prediction for November Sales for Shop 6:', pred100_6)
print('Prediction for November Sales for Shop 7:', pred100_7)
print('Prediction for November Sales for Shop 10:', pred100_10)
print('Prediction for November Sales for Shop 12:', pred100_12)
print('Prediction for November Sales for Shop 14:', pred100_14)
print('Prediction for November Sales for Shop 15:', pred100_15)
print('Prediction for November Sales for Shop 16:', pred100_16)
print('Prediction for November Sales for Shop 17:', pred100_17)
print('Prediction for November Sales for Shop 18:', pred100_18)
print('Prediction for November Sales for Shop 19:', pred100_19)
print('Prediction for November Sales for Shop 21:', pred100_21)
print('Prediction for November Sales for Shop 22:', pred100_22)
print('Prediction for November Sales for Shop 24:', pred100_24)
print('Prediction for November Sales for Shop 25:', pred100_25)
print('Prediction for November Sales for Shop 26:', pred100_26)
print('Prediction for November Sales for Shop 27:', pred100_27)
print('Prediction for November Sales for Shop 28:', pred100_28)
print('Prediction for November Sales for Shop 29:', pred100_29)
print('Prediction for November Sales for Shop 30:', pred100_30)
print('Prediction for November Sales for Shop 31:', pred100_31)
print('Prediction for November Sales for Shop 33:', pred100_33)
print('Prediction for November Sales for Shop 34:', pred100_34)
print('Prediction for November Sales for Shop 35:', pred100_35)
print('Prediction for November Sales for Shop 37:', pred100_37)
print('Prediction for November Sales for Shop 38:', pred100_38)
print('Prediction for November Sales for Shop 39:', pred100_39)
print('Prediction for November Sales for Shop 40:', pred100_40)
print('Prediction for November Sales for Shop 41:', pred100_41)
print('Prediction for November Sales for Shop 42:', pred100_42)
print('Prediction for November Sales for Shop 43:', pred100_43)
print('Prediction for November Sales for Shop 44:', pred100_44)
print('Prediction for November Sales for Shop 45:', pred100_45)
print('Prediction for November Sales for Shop 46:', pred100_46)
print('Prediction for November Sales for Shop 47:', pred100_47)
print('Prediction for November Sales for Shop 48:', pred100_48)
print('Prediction for November Sales for Shop 49:', pred100_49)
print('Prediction for November Sales for Shop 50:', pred100_50)
print('Prediction for November Sales for Shop 51:', pred100_51)
print('Prediction for November Sales for Shop 52:', pred100_52)
print('Prediction for November Sales for Shop 53:', pred100_53)
print('Prediction for November Sales for Shop 54:', pred100_54)
print('Prediction for November Sales for Shop 55:', pred100_55)
print('Prediction for November Sales for Shop 56:', pred100_56)
print('Prediction for November Sales for Shop 57:', pred100_57)
print('Prediction for November Sales for Shop 58:', pred100_58)
print('Prediction for November Sales for Shop 59:', pred100_59)

Prediction for November Sales for Shop 2: [860.48]
Prediction for November Sales for Shop 3: [848.79]
Prediction for November Sales for Shop 4: [848.85]
Prediction for November Sales for Shop 5: [831.31]
Prediction for November Sales for Shop 6: [1453.37]
Prediction for November Sales for Shop 7: [1453.47]
Prediction for November Sales for Shop 10: [843.39]
Prediction for November Sales for Shop 12: [1453.99]
Prediction for November Sales for Shop 14: [836.14]
Prediction for November Sales for Shop 15: [843.39]
Prediction for November Sales for Shop 16: [1362.75]
Prediction for November Sales for Shop 17: [856.41]
Prediction for November Sales for Shop 18: [961.73]
Prediction for November Sales for Shop 19: [1452.85]
Prediction for November Sales for Shop 21: [1453.37]
Prediction for November Sales for Shop 22: [1455.91]
Prediction for November Sales for Shop 24: [1437.14]
Prediction for November Sales for Shop 25: [1453.37]
Prediction for November Sales for Shop 26: [1443.08]
Prediction for November Sales for Shop 27: [1366.4]
Prediction for November Sales for Shop 28: [1453.37]
Prediction for November Sales for Shop 29: [1304.88]
Prediction for November Sales for Shop 30: [1335.92]
Prediction for November Sales for Shop 31: [1453.37]
Prediction for November Sales for Shop 33: [922.6]
Prediction for November Sales for Shop 34: [999.16]
Prediction for November Sales for Shop 35: [1455.14]
Prediction for November Sales for Shop 37: [890.88]
Prediction for November Sales for Shop 38: [1375.12]
Prediction for November Sales for Shop 39: [857.8]
Prediction for November Sales for Shop 40: [896.21]
Prediction for November Sales for Shop 41: [846.05]
Prediction for November Sales for Shop 42: [1453.37]
Prediction for November Sales for Shop 43: [1337.71]
Prediction for November Sales for Shop 44: [809.57]
Prediction for November Sales for Shop 45: [859.18]
Prediction for November Sales for Shop 46: [1453.6]
Prediction for November Sales for Shop 47: [1453.37]
Prediction for November Sales for Shop 48: [894.55]
Prediction for November Sales for Shop 49: [877.96]
Prediction for November Sales for Shop 50: [1334.75]
Prediction for November Sales for Shop 51: [833.91]
Prediction for November Sales for Shop 52: [880.79]
Prediction for November Sales for Shop 53: [1377.86]
Prediction for November Sales for Shop 54: [1340.57]
Prediction for November Sales for Shop 55: [1453.37]
Prediction for November Sales for Shop 56: [1375.81]
Prediction for November Sales for Shop 57: [1453.37]
Prediction for November Sales for Shop 58: [1454.52]
Prediction for November Sales for Shop 59: [1339.64]

In [1680]:
print('Mape for Shop 2:', round(mape100_2,2),'%.')
print('Mape for Shop 3:', round(mape100_3,2),'%.')
print('Mape for Shop 4:', round(mape100_4,2),'%.')
print('Mape for Shop 5:', round(mape100_5,2),'%.')
print('Mape for Shop 6:', round(mape100_6,2),'%.')
print('Mape for Shop 7:', round(mape100_7,2),'%.')
print('Mape for Shop 10:', round(mape100_10,2),'%.')
print('Mape for Shop 12:', round(mape100_12,2),'%.')
print('Mape for Shop 14:', round(mape100_14,2),'%.')
print('Mape for Shop 15:', round(mape100_15,2),'%.')
print('Mape for Shop 16:', round(mape100_16,2),'%.')
print('Mape for Shop 17:', round(mape100_17,2),'%.')
print('Mape for Shop 18:', round(mape100_18,2),'%.')
print('Mape for Shop 19:', round(mape100_19,2),'%.')
print('Mape for Shop 21:', round(mape100_21,2),'%.')
print('Mape for Shop 22:', round(mape100_22,2),'%.')
print('Mape for Shop 24:', round(mape100_24,2),'%.')
print('Mape for Shop 25:', round(mape100_25,2),'%.')
print('Mape for Shop 26:', round(mape100_26,2),'%.')
print('Mape for Shop 27:', round(mape100_27,2),'%.')
print('Mape for Shop 28:', round(mape100_28,2),'%.')
print('Mape for Shop 29:', round(mape100_29,2),'%.')
print('Mape for Shop 30:', round(mape100_30,2),'%.')
print('Mape for Shop 31:', round(mape100_31,2),'%.')
print('Mape for Shop 33:', round(mape100_33,2),'%.')
print('Mape for Shop 34:', round(mape100_34,2),'%.')
print('Mape for Shop 35:', round(mape100_35,2),'%.')
print('Mape for Shop 37:', round(mape100_37,2),'%.')
print('Mape for Shop 38:', round(mape100_38,2),'%.')
print('Mape for Shop 39:', round(mape100_39,2),'%.')
print('Mape for Shop 40:', round(mape100_40,2),'%.')
print('Mape for Shop 41:', round(mape100_41,2),'%.')
print('Mape for Shop 42:', round(mape100_42,2),'%.')
print('Mape for Shop 43:', round(mape100_43,2),'%.')
print('Mape for Shop 44:', round(mape100_44,2),'%.')
print('Mape for Shop 45:', round(mape100_45,2),'%.')
print('Mape for Shop 46:', round(mape100_46,2),'%.')
print('Mape for Shop 47:', round(mape100_47,2),'%.')
print('Mape for Shop 48:', round(mape100_48,2),'%.')
print('Mape for Shop 49:', round(mape100_49,2),'%.')
print('Mape for Shop 50:', round(mape100_50,2),'%.')
print('Mape for Shop 51:', round(mape100_51,2),'%.')
print('Mape for Shop 52:', round(mape100_52,2),'%.')
print('Mape for Shop 53:', round(mape100_53,2),'%.')
print('Mape for Shop 54:', round(mape100_54,2),'%.')
print('Mape for Shop 55:', round(mape100_55,2),'%.')
print('Mape for Shop 56:', round(mape100_56,2),'%.')
print('Mape for Shop 57:', round(mape100_57,2),'%.')
print('Mape for Shop 58:', round(mape100_58,2),'%.')
print('Mape for Shop 59:', round(mape100_59,2),'%.')

Mape for Shop 2: 16.91 %.
Mape for Shop 3: 42.41 %.
Mape for Shop 4: 13.18 %.
Mape for Shop 5: 12.49 %.
Mape for Shop 6: 16.14 %.
Mape for Shop 7: 16.13 %.
Mape for Shop 10: 100.81 %.
Mape for Shop 12: 65.55 %.
Mape for Shop 14: 15.11 %.
Mape for Shop 15: 100.81 %.
Mape for Shop 16: 67.71 %.
Mape for Shop 17: 79.71 %.
Mape for Shop 18: 14.36 %.
Mape for Shop 19: 2.82 %.
Mape for Shop 21: 21.14 %.
Mape for Shop 22: 9.47 %.
Mape for Shop 24: 15.43 %.
Mape for Shop 25: 75.6 %.
Mape for Shop 26: 10.07 %.
Mape for Shop 27: 88.99 %.
Mape for Shop 28: 51.06 %.
Mape for Shop 29: 764.16 %.
Mape for Shop 30: 1125.61 %.
Mape for Shop 31: 75.68 %.
Mape for Shop 33: 1053.25 %.
Mape for Shop 34: 126.57 %.
Mape for Shop 35: 2.69 %.
Mape for Shop 37: 1.78 %.
Mape for Shop 38: 22.89 %.
Mape for Shop 39: 9.03 %.
Mape for Shop 40: 4381.05 %.
Mape for Shop 41: 17.51 %.
Mape for Shop 42: 65.54 %.
Mape for Shop 43: 2522.96 %.
Mape for Shop 44: 9.25 %.
Mape for Shop 45: 18.34 %.
Mape for Shop 46: 7.67 %.
Mape for Shop 47: 14.15 %.
Mape for Shop 48: 19.19 %.
Mape for Shop 49: 28.17 %.
Mape for Shop 50: 32.02 %.
Mape for Shop 51: 448.62 %.
Mape for Shop 52: 3.99 %.
Mape for Shop 53: 32.74 %.
Mape for Shop 54: 206.77 %.
Mape for Shop 55: 44.74 %.
Mape for Shop 56: 18.91 %.
Mape for Shop 57: 38.21 %.
Mape for Shop 58: 0.38 %.
Mape for Shop 59: 11.73 %.

In [1683]:
print('Accuracy for Shop 2:', round(accuracy2, 2),'%.')
print('Accuracy for Shop 3:', round(accuracy3, 2),'%.')
print('Accuracy for Shop 4:', round(accuracy4, 2),'%.')
print('Accuracy for Shop 5:', round(accuracy5, 2),'%.')
print('Accuracy for Shop 6:', round(accuracy6, 2),'%.')
print('Accuracy for Shop 7:', round(accuracy7, 2),'%.')
print('Accuracy for Shop 10:', round(accuracy10, 2),'%.')
print('Accuracy for Shop 12:', round(accuracy12, 2),'%.')
print('Accuracy for Shop 14:', round(accuracy14, 2),'%.')
print('Accuracy for Shop 15:', round(accuracy15, 2),'%.')
print('Accuracy for Shop 16:', round(accuracy16, 2),'%.')
print('Accuracy for Shop 17:', round(accuracy17, 2),'%.')
print('Accuracy for Shop 18:', round(accuracy18, 2),'%.')
print('Accuracy for Shop 19:', round(accuracy19, 2),'%.')
print('Accuracy for Shop 21:', round(accuracy21, 2),'%.')
print('Accuracy for Shop 22:', round(accuracy22, 2),'%.')
print('Accuracy for Shop 24:', round(accuracy24, 2),'%.')
print('Accuracy for Shop 25:', round(accuracy25, 2),'%.')
print('Accuracy for Shop 26:', round(accuracy26, 2),'%.')
print('Accuracy for Shop 27:', round(accuracy27, 2),'%.')
print('Accuracy for Shop 28:', round(accuracy28, 2),'%.')
print('Accuracy for Shop 29:', round(accuracy29, 2),'%.')
print('Accuracy for Shop 30:', round(accuracy30, 2),'%.')
print('Accuracy for Shop 31:', round(accuracy31, 2),'%.')
print('Accuracy for Shop 33:', round(accuracy33, 2),'%.')
print('Accuracy for Shop 34:', round(accuracy34, 2),'%.')
print('Accuracy for Shop 35:', round(accuracy35, 2),'%.')
print('Accuracy for Shop 37:', round(accuracy37, 2),'%.')
print('Accuracy for Shop 38:', round(accuracy38, 2),'%.')
print('Accuracy for Shop 39:', round(accuracy39, 2),'%.')
print('Accuracy for Shop 40:', round(accuracy40, 2),'%.')
print('Accuracy for Shop 41:', round(accuracy41, 2),'%.')
print('Accuracy for Shop 42:', round(accuracy42, 2),'%.')
print('Accuracy for Shop 43:', round(accuracy43, 2),'%.')
print('Accuracy for Shop 44:', round(accuracy44, 2),'%.')
print('Accuracy for Shop 45:', round(accuracy45, 2),'%.')
print('Accuracy for Shop 46:', round(accuracy46, 2),'%.')
print('Accuracy for Shop 47:', round(accuracy47, 2),'%.')
print('Accuracy for Shop 48:', round(accuracy48, 2),'%.')
print('Accuracy for Shop 49:', round(accuracy49, 2),'%.')
print('Accuracy for Shop 50:', round(accuracy50, 2),'%.')
print('Accuracy for Shop 51:', round(accuracy51, 2),'%.')
print('Accuracy for Shop 52:', round(accuracy52, 2),'%.')
print('Accuracy for Shop 53:', round(accuracy53, 2),'%.')
print('Accuracy for Shop 54:', round(accuracy54, 2),'%.')
print('Accuracy for Shop 55:', round(accuracy55, 2),'%.')
print('Accuracy for Shop 56:', round(accuracy56, 2),'%.')
print('Accuracy for Shop 57:', round(accuracy57, 2),'%.')
print('Accuracy for Shop 58:', round(accuracy58, 2),'%.')
print('Accuracy for Shop 59:', round(accuracy59, 2),'%.')

Accuracy for Shop 2: 83.09 %.
Accuracy for Shop 3: 57.59 %.
Accuracy for Shop 4: 86.82 %.
Accuracy for Shop 5: 87.51 %.
Accuracy for Shop 6: 83.86 %.
Accuracy for Shop 7: 83.87 %.
Accuracy for Shop 10: -0.81 %.
Accuracy for Shop 12: 34.45 %.
Accuracy for Shop 14: 84.89 %.
Accuracy for Shop 15: -0.81 %.
Accuracy for Shop 16: 32.29 %.
Accuracy for Shop 17: 20.29 %.
Accuracy for Shop 18: 85.64 %.
Accuracy for Shop 19: 97.18 %.
Accuracy for Shop 21: 78.86 %.
Accuracy for Shop 22: 90.53 %.
Accuracy for Shop 24: 84.57 %.
Accuracy for Shop 25: 24.4 %.
Accuracy for Shop 26: 89.93 %.
Accuracy for Shop 27: 11.01 %.
Accuracy for Shop 28: 48.94 %.
Accuracy for Shop 29: -664.16 %.
Accuracy for Shop 30: -1025.61 %.
Accuracy for Shop 31: 24.32 %.
Accuracy for Shop 33: -953.25 %.
Accuracy for Shop 34: -26.57 %.
Accuracy for Shop 35: 97.31 %.
Accuracy for Shop 37: 98.22 %.
Accuracy for Shop 38: 77.11 %.
Accuracy for Shop 39: 90.97 %.
Accuracy for Shop 40: -4281.05 %.
Accuracy for Shop 41: 82.49 %.
Accuracy for Shop 42: 34.46 %.
Accuracy for Shop 43: -2422.96 %.
Accuracy for Shop 44: 90.75 %.
Accuracy for Shop 45: 81.66 %.
Accuracy for Shop 46: 92.33 %.
Accuracy for Shop 47: 85.85 %.
Accuracy for Shop 48: 80.81 %.
Accuracy for Shop 49: 71.83 %.
Accuracy for Shop 50: 67.98 %.
Accuracy for Shop 51: -348.62 %.
Accuracy for Shop 52: 96.01 %.
Accuracy for Shop 53: 67.26 %.
Accuracy for Shop 54: -106.77 %.
Accuracy for Shop 55: 55.26 %.
Accuracy for Shop 56: 81.09 %.
Accuracy for Shop 57: 61.79 %.
Accuracy for Shop 58: 99.62 %.
Accuracy for Shop 59: 88.27 %.